<template>
    <div id="teatro-add" class="main">
        <NavigationBar text_xs="Registro de usuario" text_lg="Volver" link="/registro" tipo="volver" v-if="step === 1"></NavigationBar>
        <NavigationBar text_xs="Registro de {tipo}" text_lg="Volver" link="/registro" tipo="volver" v-if="step === 2"></NavigationBar>
        <div class="container open-modal form">
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title" v-if="step === 1">
                                <h1>Registro de responsable</h1>
                                <p class="lead">Comenzamos con tus datos personales.</p>
                            </div>
                            <div class="form-title" v-if="step === 2">
                                <h1>Registro del {{$tipo}}</h1>
                                <p class="lead">Los datos básicos de tu {{$tipo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <!--<form>-->
                            <div v-if="step === 1">
                                <div class="form-group">
                                    <label>Nombre y apellido</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" id="email" name="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" id="telefono" name="telefono" class="form-control">
                                </div>
                                <div class="form-group pt-2">
                                    <p class="pb-1"><strong>Tipo de usuario/a</strong></p>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="input-teatro" name="input-festival"
                                               class="custom-control-input" v-model="$tipo" v-bind:value="'teatro'">
                                        <label class="custom-control-label" for="input-teatro">Represento a un
                                            teatro</label>
                                    </div>
                                    <div class="custom-control custom-radio mt-2">
                                        <input type="radio" id="input-festival" name="input-festival"
                                               class="custom-control-input" v-model="$tipo" v-bind:value="'festival'">
                                        <label class="custom-control-label" for="input-festival">Represento a un
                                            festival</label>
                                    </div>
                                </div>

                                <div class="form-group" v-if="$tipo==='teatro'">
                                    <label>¿Cuál es tu rol?</label>
                                    <select class="form-control">
                                        <option value="1">Director/a General </option>
                                        <option value="2">Gerente/a</option>
                                        <option value="3">Productor/a</option>
                                        <option value="4">Programador/a</option>
                                        <option value="5">Otro</option>
                                    </select>
                                </div>
                                <div class="form-group" v-if="$tipo==='festival'">
                                    <label>¿Cuál es tu rol?</label>
                                    <select class="form-control">
                                        <option value="1">Organizador/a </option>
                                        <option value="2">Director/a artístico/a</option>
                                        <option value="3">Productor/a</option>
                                        <option value="4">Programador/a</option>
                                        <option value="5">Otro</option>
                                    </select>
                                </div>

                                <div class="spacer-1"></div>
                                <button class="btn btn-primary" @click.prevent="next()">SIGUIENTE</button>
                            </div>
                            <div v-if="step === 2">
                                <div class="form-group">
                                    <label>Nombre del {{$tipo}}</label>
                                    <input type="text" id="teatro-nombre" name="teatro-nombre" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" id="teatro-telefono" name="teatro-telefono" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" id="teatro-email" name="teatro-email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" id="teatro-web" name="teatro-web" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Pais</label>
                                    <select v-model="selectedCoutry" class="form-control">
                                        <option v-for="country in countries">{{ country.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Provincia</label>
                                    <input type="text" id="teatro-provincia" name="teatro-provincia"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" id="teatro-ciudad" name="teatro-ciudad" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" id="teatro-direccion" name="teatro-direccion"
                                           class="form-control" v-if="$tipo==='teatro'">
                                </div>
                                <div class="form-group">
                                    <label>Historia del {{$tipo}}</label>
                                    <textarea id="teatro-historia" name="teatro-historia"
                                              class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Tipo de circuito</label>
                                    <select class="form-control">
                                        <option value="oficial">Oficial</option>
                                        <option value="comercial">Comercial</option>
                                        <option value="independiente">Independiente</option>
                                    </select>
                                </div>

                                <div class="spacer-1"></div>

                                <router-link to="/home/" class="btn btn-primary text-uppercase">
                                    REGISTRAR
                                </router-link>

                                <div class="clearfix spacer-3 mt-4">
                                    <small>Al hacer clic en "Registrarte", aceptas nuestras
                                        <router-link to="/condiciones">Condiciones</router-link>
                                        , la
                                        <router-link to="/politica-de-privacidad">Política de privacidad</router-link>
                                        y la
                                        <router-link to="/cookies">Política de cookies</router-link>
                                        .
                                    </small>
                                </div>
                            </div>

                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavigationBar from '../../components/NavigationBar'
export default {
  name: 'RegistroEspectaculo',
  components: {NavigationBar},
  data () {
    return {
      step: 1,
      countries: [],
      selectedCoutry: '',
      $user: '',
      $tipo: 'teatro'
    }
  },
  methods: {
    prev () {
      this.step--
    },
    next () {
      this.step++
      this.$user = 'sala'
    },
    submit () {
    },
    getCountriesList: function () {
      this.$http.get('https://restcountries.eu/rest/v1/all').then(function (response) {
        this.countries = JSON.parse(response.body)
      })
    }
  },
  created: function () {
    this.getCountriesList()
  }
}
</script>

<style scoped>

</style>
