<template>
    <transition
            name="custom-classes-transition"
            enter-active-class="bounceLeft-enter"
            leave-active-class="bounceRight-leave"
    >
    <div id="espectaculo-add" class="main">
        <NavigationBar text_xs="Registro de usuario" text_lg="Volver" link="/registro" tipo="volver"></NavigationBar>
        <div class="container open-modal form" >
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1>Registro de usuario</h1>
                                <p class="lead">Antes de agregar tu espectáculo queremos conocerte. Ingresa tus
                                    datos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form>
                            <div class="form-group">
                                <label>Nombre y apellido</label>
                                <input type="text" id="nombre" name="nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Teléfono</label>
                                <input type="text" id="telefono" name="telefono" class="form-control">
                            </div>
                            <router-link to="/home" class="btn btn-primary">REGISTRARTE</router-link>
                            <div class="clearfix spacer-3 mt-4">
                                <small>Al hacer clic en "Registrarte", aceptas nuestras <router-link to="/condiciones">Condiciones</router-link>, la <router-link to="/politica-de-privacidad">Política de privacidad</router-link> y la <router-link to="/cookies">Política de cookies</router-link>.</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
import NavigationBar from '../../components/NavigationBar'
export default {
  name: 'RegistroEspectaculo',
  components: {NavigationBar}
}
</script>

<style scoped>

</style>
