<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="¡Conoscanse!" text_lg="volver" link="/cerca" tipo="volver" v-if="step === 1"></NavigationBar>
        <NavigationBar text_xs="¿Qué puedes ofrecer?" text_lg="volver" link="prev()" tipo="volver" v-if="step === 2"></NavigationBar>
        <NavigationBar text_xs="Mensaje" text_lg="volver" link="prev()" tipo="volver" v-if="step === 3"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title" v-if="step === 1">
                                <h1 class="main-title">Editar la propuesta</h1>
                                <p class="lead">Realiza los cambios solicitados por el espectáculo y vuelve a enviar la propuesta</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row" v-if="step === 1">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center clickeable">
                                    <img src="https://picsum.photos/50/50" class="full-rounded float-left mb-3 mr-4"
                                         width="50" height="50"
                                         alt="Nombre del espectáculo">
                                    <h4 class="mr-auto">Nombre del espectáculo</h4>
                                    <router-link to="/espectaculo/nombre-del-espectaculo" class="list-group-action">
                                        <span class="d-none d-lg-inline"> VER PERFIL</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-lg-8">
                        <form action="">
                            <div class="spacer-2"></div>
                            <h4>Datos de la función</h4>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <date-picker v-model="date" :config="options"></date-picker>
                                </div>
                                <div class="form-group">
                                    <label>Hora</label>
                                    <date-picker v-model="date" :config="optionsTime"></date-picker>
                                </div>
                                <div class="form-group">
                                    <label>Cachet</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend pr-4">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input type="number" id="cachet" name="cachet" class="form-control">
                                        <small class="form-text text-muted">El cachet solicitado por el espectáculo es
                                            de
                                            {espectaculo.cachet}. Puedes ofrecer lo que esté a tu alcance.
                                        </small>
                                    </div>
                                </div>
                                <!-- SI EL ESPECTÁCULO ACEPTA bordereaux -->
                                <div class="form-group">
                                    <label>Bordereaux</label>
                                        <input type="text" id="bordereaux" name="bordereaux" class="form-control">
                                    <small class="form-text text-muted">Estipula el porcentaje de las entradas que recibirá el espectáculo. <i>Ej: "Te ofrecemos el 70% de la venta de entradas"</i>
                                        </small>
                                </div>
                                <!-- //////// -->
                                <div class="form-group" v-if="$tipo==='festival'">
                                    <label>Teatro</label>
                                    <select class="form-control" id="teatro" name="teatro">
                                        <option>Teatro Colón</option>
                                        <option>Teatro Séptimo Fuego</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sala</label>
                                    <select class="form-control" id="sala" name="sala">
                                        <option>Sala Nicanor Otamendi</option>
                                        <option>Sala Jacinta Connor</option>
                                    </select>
                                </div>
                                <div class="spacer-2"></div>
                                <h4>Requisitos</h4>
                                <b-form-group
                                        class="border-bottom"
                                        id=""
                                        description=""
                                        label=""
                                        label-for="input1"
                                        :state="state"
                                >
                                    <b-form-checkbox id="translado-local"
                                                     v-model="translado_local"
                                                     value="accepted"
                                                     unchecked-value="not_accepted">
                                        TRANSLADO LOCAL
                                    </b-form-checkbox>
                                    <div class="px-2 py-2">
                                        <p class="text-warning">
                                            <i class="fas fa-info-circle"></i> Lo necesario para las personas en
                                            gira y el
                                            vestuario
                                        </p>
                                        <b-form-radio-group id="cobertura" class="my-4"
                                                            v-if="translado_local==='accepted'">
                                            <b-form-radio value="1" v-model="translado_local">Puedo cubrirlo
                                            </b-form-radio>
                                            <b-form-radio value="2">Puedo cubrir algo</b-form-radio>
                                        </b-form-radio-group>

                                        <b-form-input v-if="translado_local==='accepted'" v-model="text1" class="mt-3 "
                                                      type="text"
                                                      placeholder="Comentarios para el espectáculo"></b-form-input>
                                        <small class="form-text text-muted mb-4" v-if="translado_local==='accepted'">Ej:
                                            “Puedo cubrir el 50% del alojamiento”
                                        </small>
                                    </div>
                                </b-form-group>
                                <b-form-group
                                        class="border-bottom"
                                        id=""
                                        description=""
                                        label=""
                                        label-for="input1"
                                        :state="state"
                                >
                                    <b-form-checkbox id="translado-regional"
                                                     v-model="translado_regional"
                                                     value="accepted"
                                                     unchecked-value="not_accepted">
                                        TRANSLADO REGIONAL
                                    </b-form-checkbox>
                                    <div class="px-2 py-2">
                                        <p class="text-warning">
                                            <i class="fas fa-info-circle"></i> Lo necesario para las persona en
                                            gira y el
                                            vestuario
                                        </p>
                                        <b-form-radio-group id="cobertura" class="my-4"
                                                            v-if="translado_regional==='accepted'">
                                            <b-form-radio value="1" v-model="translado_regional">Puedo cubrirlo
                                            </b-form-radio>
                                            <b-form-radio value="2">Puedo cubrir algo</b-form-radio>
                                        </b-form-radio-group>

                                        <b-form-input v-if="translado_regional==='accepted'" v-model="text1"
                                                      class="mt-3"
                                                      type="text"
                                                      placeholder="Comentarios para el espectáculo"></b-form-input>
                                        <small class="form-text text-muted mb-4" v-if="translado_regional==='accepted'">
                                            Ej:
                                            “Puedo cubrir el 50% del alojamiento”
                                        </small>
                                    </div>
                                </b-form-group>
                                <b-form-group
                                        class="border-bottom"
                                        id=""
                                        description=""
                                        label=""
                                        label-for="input1"
                                        :state="state"
                                >
                                    <b-form-checkbox id="comidas"
                                                     v-model="comidas"
                                                     value="accepted"
                                                     unchecked-value="not_accepted">
                                        COMIDAS
                                    </b-form-checkbox>
                                    <div class="px-2 py-2">
                                        <p class="text-warning">
                                            <i class="fas fa-info-circle"></i> Almuerzo y cena para 5 personas con dos
                                            menues veganos
                                        </p>
                                        <b-form-radio-group id="cobertura" class="my-4"
                                                            v-if="comidas==='accepted'">
                                            <b-form-radio value="1" v-model="comidas">Puedo cubrirlo
                                            </b-form-radio>
                                            <b-form-radio value="2">Puedo cubrir algo</b-form-radio>
                                        </b-form-radio-group>

                                        <b-form-input v-if="comidas==='accepted'" v-model="text1" class="mt-3"
                                                      type="text"
                                                      placeholder="Comentarios para el espectáculo"></b-form-input>
                                        <small class="form-text text-muted mb-4" v-if="comidas==='accepted'">Ej:
                                            “Puedo cubrir el 50% del alojamiento”
                                        </small>
                                    </div>
                                </b-form-group>
                                <div class="spacer-2"></div>
                                <h4>Mensaje</h4>
                                <div class="form-group">
                                    <label>Ingresa tu comentario</label>
                                    <textarea id="mensaje" name="mensaje" class="form-control"></textarea>
                                    <small class="form-text text-muted"><i>Ej: Nos
                                        encantaría que su obra esté en nuestra sala. Podemos charlar las fechas y los
                                        días.
                                    </i></small>
                                </div>
                                <div class="form-group">
                                    <router-link to="/ok/propuesta"
                                                 class="btn btn-primary btn-lg btn-block-xs-only my-3">
                                        ENVIAR
                                    </router-link>
                                    <div class="spacer-2"></div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
import datePicker from 'vue-bootstrap-datetimepicker'

export default {
  name: 'PropuestasEdit',
  components: {
    NavigationBar,
    SideBar,
    datePicker
  },
  data () {
    return {
      step: 1,
      teatro: '',
      teatroAdd: false,
      translado_local: false,
      translado_regional: false,
      comidas: false,
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        locale: 'es'
      },
      optionsTime: {
        format: 'LT',
        useCurrent: false,
        locale: 'es'
      }
    }
  },
  methods: {
    add: function () {
      this.teatroAdd = true
      this.teatro = false
    },
    prev () {
      this.step--
    },
    next () {
      this.step++
      this.$user = 'sala'
    },
    submit () {
    },
    showModal () {
      this.$refs.confirmacion.show()
    },
    hideModal () {
      this.$refs.confirmacion.hide()
    }
  }

}
</script>

<style scoped>

</style>
