<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="Propuesta de participación" text_lg="volver" link="/propuestas" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row tabs-menu d-none d-lg-block">
                    <h1 class="main-title">¡Conózcanse!</h1>
                    <div class="lead"> El Teatro Municipal Colón te envió la siguiente propuesta. Puedes evaluarla y pedirle modificaciones.</div>
                </div>
                <div class="spacer-2"></div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between align-items-center clickeable">
                            <img src="https://picsum.photos/50/50" class="full-rounded float-left mb-3 mr-4"
                                 width="50" height="50"
                                 alt="Teatro Municipal Colón">
                            <h4 class="mr-auto">Teatro Municipal Colón</h4>
                            <router-link to="/teatro/teatro-municipal-colon" class="list-group-action">
                                <span class="d-none d-lg-inline"> VER PERFIL</span>
                                <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <div>
                                <h5>Ubicación</h5>
                                <p class="align-self-auto">Hipolito Irigoyen 2450, Mar del Plata, Argentina</p>
                            </div>
                            <router-link to="/teatro/teatro-municipal-colon/ubicacion" class="list-group-action">
                                <span class="d-none d-lg-inline"> VER EN MAPA</span>
                                <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <h5>Fecha propuesta</h5>
                        <p>05 de agosto de 2017, 19:30 hs</p>
                    </div>
                    <div class="list-group-item">
                        <h5>Mensaje</h5>
                        <p>Nos encantaría que su obra esté en nuestra sala. Podemos charlar las fechas y los días.</p>
                    </div>
                    <div class="list-group-item">
                        <h5>Cachet propuesto</h5>
                        <p>$12.000</p>
                    </div>
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between align-items-center clickeable">
                            <div>
                                <h5>Sala</h5>
                                <p>Sala Nicanor Otamendi</p>
                            </div>
                            <router-link to="/teatro/teatro-municipal-colon/sala-nicanor-otamendi" class="list-group-action">
                                <span class="d-none d-lg-inline"> VER SALA</span>
                                <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <h5 class="mb-2">Requisitos cubiertos</h5>
                        <div class="requisitos-group">
                            <p class="requisito total"> Translado local <span class="badge ml-2 badge-success">TOTAL</span></p>
                            <p class="aclaracion"> Transporte para 8 personas</p>
                        </div>
                        <div class="requisitos-group">
                            <p class="requisito parcial">Comidas <span class="badge ml-2 badge-warning">PARCIAL</span></p>
                            <p class="aclaracion"> Puedo pagarles un sánguche con Manaos</p>
                        </div>
                    </div>
                    <div class="spacer-2"></div>
                </div>
                <router-link to="/acuerdo/20002" class="btn btn-primary btn-block-xs-only float-lg-left">ACEPTAR PROPUESTA</router-link>
                <div class="spacer-2 d-block d-lg-none"></div>
                <router-link to="/propuesta/200002/modificacion" class="btn btn-link mr-auto btn-block-xs-only float-lg-left mb-4">SOLICITAR CAMBIOS</router-link>

                <button class="btn btn-outline-danger btn-block-xs-only float-lg-right mb-4" @click="showModal">RECHAZAR</button>

                <b-modal ref="confirmacion" id="confirmacion" hide-footer title="">
                    <div class="d-block text-center mt-4">
                        <h3>¿Quieres rechazar la propuesta?</h3>
                    </div>
                    <div class="text-center mt-4">
                        <b-btn class="mt-3" @click="hideModal">
                            NO
                        </b-btn>
                        <b-btn class="mt-3 ml-4" variant="primary" to="/propuestas">
                            SI
                        </b-btn>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'PropuestasOpen',
  components: {
    NavigationBar,
    SideBar
  },
  methods: {
    showModal () {
      this.$refs.confirmacion.show()
    },
    hideModal () {
      this.$refs.confirmacion.hide()
    }
  }

}
</script>

<style scoped>

</style>
