//====================================
// Global Imports
//====================================
// 1- Import bootstrap framework
@import 'frameworks/index';
// 2 - Import plugins
@import 'plugins/index';
// 3 - Import base style, custom variables and mixins
@import 'base/index';
// 4 - Import modules
@import 'modules/index';
// 5 - Import layout  styles
@import 'layout/index';


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" !default;
@import url($web-font-path);

html, body {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    @include media-breakpoint-up(lg) {
      font-size: 15px;
    }
  }
}

h1 {
  @include media-breakpoint-down(md) {
    font-size: 1.8rem;
  }
}

// Effects =====================================================================
@mixin ripple($color) {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    @include gradient-radial($color 10%, transparent 10.01%);
    background-size: 1000% 1000%;
    background-position: 50%;
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: background .5s, opacity 1s;
  }

  &:active:after {
    background-size: 0 0;
    opacity: .2;
    transition: 0s;
  }

  &.disabled,
  &[disabled] {
    &:after {
      display: none;
    }
  }
}

// Navbar ======================================================================

.page {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

#propuestas, #circuito {
  .navbar {
    position: relative;
    box-shadow: none !important
  }
}

.navbar {
  .notificaciones {
    font-size: 1.5rem;
    text-align: right;
    color: $primary !important;
    .counter {
      font-size: 0.7rem;
      color: #fff;
      background: $primary;
      padding: 0 4px;
      border-radius: 10px;
      line-height: 15px;
      font-weight: bold;
      position: absolute;
      right: 15px;
      top: 2px;
      z-index: 1;
      height: 14px;
    }
  }
  &.xs {
    min-height: 55px;
    .title, .icon {
      height: 25px;
    }
  }
  .bars-menu {
    font-size: 24px;
    display: inline;
  }
  .navbrar-brand {
    text-align: center;
    img {
      //margin-top: 5px;
    }
  }
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

  &-brand {
    font-size: 24px;
  }

  &-nav .nav-link {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }

  &.bg-dark,
  &.bg-primary {

    input[type=text],
    input[type=password] {
      color: #fff;
      box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);

      &:focus {
        box-shadow: inset 0 -2px 0 #fff;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .icon {
    font-size: 1.4rem;
    width: 50px;
    padding-left: 10px;
    margin-top: -5px;
  }
  .title {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    padding: 2px 0 0;
    margin: 0;
    white-space: nowrap;
  }

}

// Buttons =====================================================================

@mixin btn($class,$bg,$color) {
  .btn-#{$class} {
    &:focus {
      background-color: $bg;
      box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    &:active {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    }

    @include ripple($color);
  }

  .btn-outline-#{$class} {
    @include ripple($color);
  }
}

@include btn(primary, $primary, $white);
@include btn(secondary, $secondary, $gray-500);
@include btn(success, $success, $white);
@include btn(info, $info, $white);
@include btn(warning, $warning, $white);
@include btn(danger, $danger, $white);
@include btn(dark, $dark, $white);
@include btn(light, $light, $white);

.btn {
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  transition: all 0.4s;
  border-radius: 2rem;
  .btn-group-vertical & {
    border-radius: 0.5rem;
  }
  &-link {
    box-shadow: none;
    color: $link-color;
    font-weight: 500;
    &:hover,
    &:focus {
      box-shadow: none;
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &.disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:active:hover {
        color: $btn-link-disabled-color;
        text-decoration: none;
      }
    }
  }

  &-secondary {
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      opacity: 1;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &-outline-secondary {
    border-color: $gray-200;
    color: $gray-300;
  }

  &-warning {
    color: $white;
  }

  &.dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}

.btn-link span {
  position: relative;
  z-index: 2000;
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: 0;
  }

  &-vertical {
    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
      margin-top: 0;
    }
  }
}

.border-secondary {
  border: 1px solid #dfdfdf !important;
}

// Typography ==================================================================

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

p {
  margin: 0 0 1em;
}

a {
  transition: all 0.2s;
  font-weight: 500;
  color: $gray-600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-display;
  font-weight: 400;
  color: $gray-600;
}

h1 {

}

// Tables ======================================================================

.table-hover {
  > tbody > tr,
  > tbody > tr > th,
  > tbody > tr > td {
    transition: all 0.2s;
  }
}

.thead-inverse th {
  background-color: $primary;
  color: $white;
}

// Forms =======================================================================

.col-form-label {
  font-size: 16px;

  &-sm {
    font-size: $font-size-sm;
  }

  &-lg {
    font-size: $font-size-lg;
  }
}

.form-group {
  position: relative;
  //min-height: 80px;
  margin: 2rem 0rem;
}

#login .form-group {
  margin: 1rem 0rem;

}

.form-group label {
  //position: absolute;
  //opacity: 0;
  //transition: .2s bottom, .2s opacity;
  //bottom: 0;
  //left: 0;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
}

//.form-control:focus ~ label {
//bottom: 2.3rem;
//opacity: 1;
//}
textarea,
.form-control,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].orm-control,
[type=tel].form-control,
[contenteditable].form-control {
  font-size: 1rem;
  box-shadow: inset 0 -1px 0 #ddd;
  transition: all 0.2s;
  min-height: 40px;
  padding: 0 1rem 0 1rem;
  background: $gray-100;
  border-radius: 2px;
  &:focus {
    box-shadow: inset 0 -2px 0 $primary;

  }
  &[disabled],
  &[readonly] {
    box-shadow: none;
    border-bottom: 1px dotted #ddd;
  }

  &:not(textarea) {
    height: $input-height;
  }
  &.form-control {

    &-sm {
      height: $input-height-sm;
      font-size: $font-size-sm;
    }

    &-lg {
      height: $input-height-lg;
      font-size: $font-size-lg;
    }
  }

  &::-ms-clear {
    display: none;
  }
}

textarea.form-control {
  padding: 1.5rem 1rem !important;
  line-height: 1.2rem;
}

.custom-file-label {
  background: $gray-100;
  font-weight: normal;
  padding: 0.8rem 0.5rem;
}

.filter {
  font-weight: bold;
  box-shadow: none;
  display: inline-block;
  width: auto;
  padding-right: 20px;
  text-transform: uppercase;
  background: none !important;
}

.date-select {
  i {
    margin-left: -15px;
  }
  .filter {
    padding-right: 5px;
  }
}

select,
select.form-control {
  appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-color: $gray-100;
  background-size: 13px;
  font-size: 14px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: right center;
  box-shadow: inset 0 -1px 0 #ddd;
  &::-ms-expand {
    display: none;
  }

  &.input {
    &-sm {
      font-size: $font-size-sm;
    }

    &-lg {
      font-size: $font-size-lg;
    }
  }

  &:focus {
    box-shadow: inset 0 -2px 0 $primary;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  }

  &[multiple] {
    background: none;
  }
}

.custom-control-label {
  &::before {
    top: 0;
    border: 2px solid $gray-400;
  }
  &::after {
    top: 0;
  }

  .custom-control-input:checked ~ &::before {
    border-color: $primary;
  }
}

.custom-checkbox .custom-control-input:checked {
  ~ .custom-control-label::after {
    transform: scale(1.5);
  }
}

.custom-radio .custom-control-input {
  &:checked {
    ~ .custom-control-label::before {
      background-color: $white;
    }
    ~ .custom-control-label::after {
      transform: scale(1.125);
      transition: 240ms;
    }
  }
  & {
    ~ .custom-control-label::after {
      transform: scale(.75);
    }
  }
}

.form {
  &-header {
    background: $gray-100;
    padding: 2rem 0 1rem;
    @include media-breakpoint-down(md) {
      text-align: center;
      .perfil & {
        text-align: left;
      }
      h1 {
        font-size: 1.6rem;
      }

    }
    @include media-breakpoint-up(lg) {
      background: none;
      padding: 0;
    }
  }
}
.custom-radio {
  .custom-control-label::before{
    border: 5px solid #ced4da;

  }
}
.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 $warning;
  }
}

.has-danger {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 $danger;
  }
}

.has-success {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 $success;
  }
}

// Remove the Bootstrap feedback styles for input addons
.input-group-addon {
  .has-warning &, .has-danger &, .has-success & {
    color: $input-color;
    border-color: $input-group-addon-border-color;
    background-color: $input-group-addon-bg;
  }
}

.input-group {

  > .input-group-prepend > .input-group-text {
    padding-right: 0.25rem;
  }

  > .input-group-append > .input-group-text {
    padding-left: 0.25rem;
  }

  .form-control {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.input-group-sm {

  > .input-group-prepend > .btn,
  > .input-group-append > .btn {
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
  }

  > .input-group-prepend > .input-group-text {
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm $input-btn-padding-y-sm 0;
  }

  > .input-group-append > .input-group-text {
    padding: $input-btn-padding-y-sm 0 $input-btn-padding-y-sm $input-btn-padding-x-sm;
  }

  > .input-group-prepend > .btn {
    border-top-left-radius: $btn-border-radius-sm;
    border-bottom-left-radius: $btn-border-radius-sm;
  }

  > .input-group-append > .btn {
    border-top-right-radius: $btn-border-radius-sm;
    border-bottom-right-radius: $btn-border-radius-sm;
  }
}

.input-group-lg {

  > .input-group-prepend > .btn,
  > .input-group-append > .btn {
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  }

  > .input-group-prepend > .input-group-text {
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg $input-btn-padding-y-lg 0;
  }

  > .input-group-append > .input-group-text {
    padding: $input-btn-padding-y-lg 0 $input-btn-padding-y-lg $input-btn-padding-x-lg;
  }

  > .input-group-prepend > .btn {
    border-top-left-radius: $btn-border-radius-lg;
    border-bottom-left-radius: $btn-border-radius-lg;
  }

  > .input-group-append > .btn {
    border-top-right-radius: $btn-border-radius-lg;
    border-bottom-right-radius: $btn-border-radius-lg;
  }
}

.form-group-lg {
  select,
  select.form-control {
    line-height: 1.5;
  }
}

#login-form {
  .lined {
    position: relative;
    small {
      background: white;
      padding: 5px 15px;
      position: relative;
      z-index: 1;
    }
  }
  .line {
    border-bottom: 1px solid $gray-400;
    position: absolute;
    bottom: 10px;
    z-index: 0;
  }
  .password {
    position: relative;
    input {
      padding-right: 150px;
    }
  }
  .recover-pass {
    //position: absolute;
    //right: 0;
    //bottom: 28px;
    //z-index: 2000;
    color: $primary;
    font-weight: bold;
  }
}

.search-teatro {
  margin-top: -29px !important;
  margin-right: 36px !important;
}

// Navs ========================================================================

#menu-bar {
  .brand-title {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu-bar {
    position: absolute;
    left: 15px;
  }
  .notificaciones {
    position: absolute;
    right: 15px;
  }
  .navbar {
    height: 55px;
    background: white;
  }
  .title {
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
  }
}



.navigation-bar {
  padding: 22px 15px;
  height: 55px;
  line-height: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.3rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  z-index: 1;
  background: white;
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 0;
    right: inherit;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    background: none;
  }
  .icon {
    display: inline-block;
    @include media-breakpoint-down(lg) {
      position: absolute;
      left: 15px;
    }
  }
  .title {
    display: inline-block;
    @include media-breakpoint-down(lg) {
      width: -webkit-calc(100% - 40px);
      width: -moz-calc(100% - 40px);
      width: calc(100% - 40px);
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      white-space: nowrap;
      font-weight: bold;
    }
  }
}

.nav-button {
  position: relative;
  z-index: 1000;
  text-transform: uppercase;
  &.volver, .cerrar {
    padding-left: 16.5rem;
    z-index: 100;
  }
  &.continuar {
    float: right;
    text-align: right;
    z-index: 100;
    color: $primary;
  }
}

.tab-content {
  @include media-breakpoint-up(md) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.nav-tabs {
  @include media-breakpoint-up(md) {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav-link,
  .nav-link:focus {
    position: relative;
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: $body-color;
    transition: all 0.2s;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      box-shadow: none;
      padding: 0.5rem 0.5rem;
    }
    &:hover {
      background-color: transparent;
      box-shadow: inset 0 -2px 0 $primary;
      @include media-breakpoint-up(md) {
        box-shadow: none;
      }
      color: $primary;
    }
  }

  .nav-link.active,
  .nav-link.active:focus {
    border: none;
    box-shadow: inset 0 -2px 0 $primary;
    @include media-breakpoint-up(lg) {
      box-shadow: none;
    }
    color: $primary;

    &:hover {
      border: none;
      color: $primary;
    }
  }

  .nav-link.disabled {
    box-shadow: inset 0 -1px 0 #ddd;
  }

  &.nav-justified {

    .nav-link,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .nav-link.active:hover,
    .nav-link.active:focus {
      border: none;
    }
  }
  .dropdown-menu {
    margin-top: 0;
  }
}

// Off-canvas ==================================================================
#off-canvas {
  @extend #sidebar;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  z-index: 10000 !important;
  background: #fff;
  .off-canvas-menu {
    padding: 3rem 2rem;
  }
}

// Segments ==================================================================
.segments-cont {
  margin-right: -15px;
  margin-left: -15px;
  background: white;
  background: $gray-100;
  transition: all 0.2s;
  .segments {
    width: 100%;
    .nav-item {
      width: 33.33%;
      text-align: center;
      .nav-link {
        padding-bottom: $spacer;
        font-size: 1.05rem;
        & .last {
          padding-right: 2.5rem !important;
        }
        & .active {
          background-color: $gray-100;
        }
      }
    }
  }
}

.obra {
  .nav-item {
    width: 50% !important;
  }
}

.dropdown-menu {
  margin-top: 0;
  font-size: 1rem;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.spacer-half {
  padding-bottom: 1rem;
}

.segments {
  @include media-breakpoint-down(sm) {
    background: $gray-100;
  }
}

// Indicators ==================================================================

@mixin placeholder {
  padding-bottom: 1rem;
}

.alert {
  padding-right: 2.5rem;

  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      background-color: $value;
    }
  }

  a:not(.btn),
  .alert-link {
    color: #fff;
    font-weight: bold;
  }

  .close {
    color: #fff;
  }

  &-secondary,
  &-light {
    &,
    & a:not(.btn),
    & .alert-link {
      color: $body-color;
    }
  }
}

.badge {

  &-secondary {
    background-color: $gray-500;
    color: $white;
  }

  &-light {
    background-color: $gray-200;
  }

  &-warning {
    color: $white;
  }
}

.tag {
  padding: 4px 6px 4px;
}

// Progress bars ===============================================================

// Containers ==================================================================

.close {
  line-height: 0.5;
  opacity: 0.6;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
  }
}

// Perfil ==================================================================

/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  position: absolute;
  border: 0.08em solid $primary;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-weight: bold;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: rgba($primary, 0.3);
}

.c100 *, .c100 *:before, .c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.c100.center {
  float: none;
  margin: 0 auto;
}

.c100.big {
  font-size: 240px;
}

.c100.small {
  font-size: 6rem;
  min-width: 90px;
  @include media-breakpoint-down(md) {
    font-size: 5rem;
    min-width: 70px;
  }
}

.c100.very-small {
  font-size: 1.8em;
  background-color: rgba($success, 0.3);
  .bar {
    border: 0.08em solid $success;
  }
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: $primary;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.c100.very-small > span {
  line-height: 1.8em;
  font-size: 0.6em;
  width: 100%;
  color: $gray-400;
}

.c100.p100.very-small > span {
  color: $success;
}

.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: whitesmoke;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}

.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}

.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}

.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}

.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}

.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}

.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}

.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}

.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}

.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}

.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}

.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}

.c100.p13 .bar {
  -webkit-transform: rotate(46.8deg);
  -moz-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  -o-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}

.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}

.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}

.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}

.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}

.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}

.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}

.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}

.c100.p21 .bar {
  -webkit-transform: rotate(75.6deg);
  -moz-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  -o-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}

.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}

.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}

.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}

.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c100.p26 .bar {
  -webkit-transform: rotate(93.6deg);
  -moz-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  -o-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}

.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}

.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}

.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}

.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}

.c100.p31 .bar {
  -webkit-transform: rotate(111.6deg);
  -moz-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  -o-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}

.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}

.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}

.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}

.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}

.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}

.c100.p37 .bar {
  -webkit-transform: rotate(133.2deg);
  -moz-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  -o-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}

.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}

.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}

.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}

.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}

.c100.p42 .bar {
  -webkit-transform: rotate(151.2deg);
  -moz-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  -o-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}

.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}

.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}

.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}

.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}

.c100.p47 .bar {
  -webkit-transform: rotate(169.2deg);
  -moz-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  -o-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}

.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}

.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}

.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}

.c100.p52 .bar {
  -webkit-transform: rotate(187.2deg);
  -moz-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  -o-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}

.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}

.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}

.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}

.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}

.c100.p57 .bar {
  -webkit-transform: rotate(205.2deg);
  -moz-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  -o-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}

.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}

.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}

.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}

.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}

.c100.p62 .bar {
  -webkit-transform: rotate(223.2deg);
  -moz-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  -o-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}

.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}

.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}

.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}

.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}

.c100.p67 .bar {
  -webkit-transform: rotate(241.2deg);
  -moz-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  -o-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}

.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}

.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}

.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}

.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}

.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}

.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}

.c100.p74 .bar {
  -webkit-transform: rotate(266.4deg);
  -moz-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  -o-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}

.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}

.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}

.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}

.c100.p79 .bar {
  -webkit-transform: rotate(284.4deg);
  -moz-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  -o-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}

.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}

.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}

.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}

.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}

.c100.p84 .bar {
  -webkit-transform: rotate(302.4deg);
  -moz-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  -o-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}

.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}

.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}

.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}

.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}

.c100.p89 .bar {
  -webkit-transform: rotate(320.4deg);
  -moz-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  -o-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}

.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}

.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}

.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}

.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}

.c100.p94 .bar {
  -webkit-transform: rotate(338.4deg);
  -moz-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  -o-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}

.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}

.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}

.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}

.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}

.c100.p99 .bar {
  -webkit-transform: rotate(356.4deg);
  -moz-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  -o-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}

.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

// Cards ==================================================================

.card {
  //transition: all 250ms ease-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  margin: 0.7rem 0;
  @include media-breakpoint-down(md) {
    cursor: pointer;
  }
  &.disabled {
    background: $gray-100;
  }
  &.clickeable {
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      transform: translate3d(0, -5px, 0);
      transition: all 0.4s;
    }
  }

  &.border-primary,
  &.border-secondary,
  &.border-success,
  &.border-info,
  &.border-warning,
  &.border-danger,
  &.border-light,
  &.border-dark {
    border-width: 1px;
  }
  .card-link {
    text-transform: uppercase;
    font-weight: 500;
  }
  .action {
    float: right;
    @extend .align-middle;
  }
  .title {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    @include media-breakpoint-up(md) {
      //padding-right:200px;
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .time {
    padding-left: 1.3rem;
    padding-top: 2px;
    @include media-breakpoint-up(md) {
      padding-left: 1rem;
    }
  }
  .action {
    width: 200px;
    text-align: right;
  }
  &.alerts {
    .icon {
      @include media-breakpoint-up(md) {
        float: left;
        font-size: 2rem;
        padding-right: 1rem;
        line-height: 2rem;
      }
    }
    h5 {
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 1.5rem;
    }
    p {
      padding: 0;
      margin-bottom: 0;
    }
  }
  &.order {
    .value {
      line-height: 1rem;
      color: $gray-800;
      vertical-align: top;
    }
    .icon {
      @include media-breakpoint-down(md) {
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }
    span.small {
      vertical-align: top;
    }
    .image {
      border-radius: 50px;
      width: 50px;
      height: 50px;
      @include media-breakpoint-up(md) {
        width: 45px;
        height: 45px;
      }

      overflow: hidden;
      float: left;
    }
    .title {
      float: left;
      padding-left: 15px;
      width: calc(100% - 65px);
      @include media-breakpoint-up(md) {
        padding-top: 5px;
        width: calc(100% - 65px);
      }
    }
    .tr {
      &.obra {
        width: 100%;
        display: inline-block;
        @include media-breakpoint-up(md) {
          float: left;
          width: -webkit-calc(100% - 400px);
          width: -moz-calc(100% - 400px);
          width: calc(100% - 400px);
        }
      }

      &.form {
        width: 100%;
        display: inline-block;
        padding-top: 1rem;
        @include media-breakpoint-up(md) {
          width: 400px;
          float: right;
          padding-top: 5px;
        }
      }
      .td {
        float: left;
        padding: 0 10px;
        &.accion {
          @include media-breakpoint-down(md) {
            display: none;
          }
          padding-right: 0;
          float: right;
          padding-top: 5px;
        }
      }
    }
    h4 {
      padding-bottom: 0;
      margin-bottom: 0;
      @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
      }
    }
    p {
      padding: 0;
      margin-bottom: 0;
    }
    .top-info {
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $gray-200;
        padding-bottom: 1rem;
      }
    }
    .bottom-info {
      @include media-breakpoint-down(md) {
        padding-top: 0.8rem;
      }

    }
  }
}

.funcion {
  @extend .order;
  .td {
    &.calendar {
      width: 50px;
      padding-left: 0 !important;
      .date {
        padding-top: 2px;
      }
    }
    &.obra {
      width: calc(100% - 50px);
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
}

.full-rounded {
  border-radius: 100px;
  overflow: hidden;
  //float: left;
}

.alert-dismissible {
  .close {
    padding: 0.5rem 0.75rem;
  }
}

.group {
  .list-group-item {
    display: inline-block;
    padding-right: 3rem;
  }
}

.list-group {
  &-item-action.active {
    h1, h2, h3, h4, h5, h6 {
      color: $white;
    }
  }
  &-item {
    border-bottom: 1px solid $gray-300;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    h5, p {
      margin-bottom: 0;
    }
    h5 {
      padding-top: 3px;
      padding-bottom: 4px;
      font-family: $font-family-sans-serif;
      font-weight: bold;
      font-size: 1rem;

    }
    padding-right: 10px;
    padding-left: 0;

  }
  &-action {
    font-size: 0.9rem;
    padding-left: 2rem;
  }
}

/// MODALS ///

#showImage {
  .modal-content {
    box-shadow: none !important;
    background: none !important;
  }
  .close {
    color: white !important;
  }
}

.modal-content {
  border-radius: 0.2rem;
}

.modal-header {
  border: none;
}

.open-modal, .page {
  #primary {
    //@include media-breakpoint-down(lg) {
    //padding-top: 4rem;
    //}
  }
}

.popover {
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.carousel {
  &-caption {
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
}

// Sidebar ==================================================================
.no-obra {
  .no-obra-hidden {
    display: none;
  }
}

#sidebar {
  width: 16rem;
  float: left;
  z-index: 1;
  position: relative;
  //padding-left: 1.5rem;
  .open-modal & {
    opacity: 0.3;
  }
  .counter {
    font-size: 0.6rem;
    color: #fff;
    background: $primary;
    padding: 0 4px;
    border-radius: 10px;
    line-height: 15px;
    font-weight: bold;
    position: absolute;
    left: 7px;
    top: 2px;
    z-index: 1;
    height: 14px;
  }
  .full-rounded {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  h5 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    padding-right: 2rem;
  }
  .nav-link {
    position: relative;
    &.active {
      color: $primary;
    }
    padding: 0.5rem 1rem 0.5rem 0;
    color: $gray-600;
    font-weight: 400;
    i {
      padding-right: 0.8rem;
    }
    &:hover {
      color: $primary;
    }
  }
}

// Primary ==================================================================
h1 {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    //font-weight: 300;
    //margin-bottom: 1.5rem;
  }
}

h1.no-lead {
  margin-bottom: 1.5rem;
}

#primary {
  width: 100%;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding-left: 16rem;
  }

  .cta {
    display: inline-block;
    width: 100%;
    .main-title {
      float: left;

    }
    .btn {
      float: right;
      margin-top: 8px;
    }
  }

}

.open-modal {
  position: relative;
  #primary {
    padding-top: 55px;
    @include media-breakpoint-up(lg) {
      padding-top: 5.7rem;
    }
  }
}

.page {
  #primary {
    padding-top: 55px;
    @include media-breakpoint-up(lg) {
      padding-top: 5.7rem;
    }
  }
}

#alertas {
  #primary {
    padding-top: 60px;
    @include media-breakpoint-up(lg) {
      padding-top: 5.7rem;
    }
  }
}

#propuestas, #circuito {
  #primary {
    padding-top: 60px;
    @include media-breakpoint-up(lg) {
      padding-top: 5.7rem;
    }
  }
}

.segments-cont {
  position: fixed;
  top: 55px;
  height: 50px;
  left: 0;
  right: 0;
  display: block;
  z-index: 3000;
  padding-top: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  background-color: $gray-100 !important;
  .segments, .nav-item {
    background: none;
  }
  .nav-link.active {
    background-color: $gray-100 !important;
  }
  div.scroll & {
    top: 0;
  }
}

.no-padding-bottom {
  padding-bottom: 0px;
}

// HOme ------------------------------------------------------------------
.omitir-button {
  position: absolute;
  right: 0;
  top: 25px;
  color: #fff;
  z-index: 1000;
  @include media-breakpoint-up(md) {
    color: $primary;
  }
  font-weight: 600;
}

.home-slides {
  .slide-icon {
    font-size: 2rem;

  }
  @include media-breakpoint-up(md) {
    max-height: 600px;
  }
  h2 {
    color: $primary;
  }
  @include media-breakpoint-down(sm) {
    background: $primary;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
    h1, h2 {
      color: #fff;
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .VueCarousel-slide {
    .row {
      margin-top: -30px;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .icon {
      font-size: 5rem;
      @include media-breakpoint-up(md) {
        font-size: 10rem;
      }
    }

  }
  .VueCarousel-pagination {
    position: absolute;
    bottom: -30px;
  }
}

// Mensajes ------------------------------------------------------------------
.mensaje {
  .icon {
    font-size: 8rem;
    margin-bottom: 2rem;
    color: $primary;
  }
  h1 {
    color: $primary;
  }
  .success & {
    color: $primary;
  }
}

// Funcions ------------------------------------------------------------------
#nodo-container {
  position: relative;
  width: 100%;
  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: $gray-100;
    @include media-breakpoint-down(sm) {
      background: $gray-200;
    }
    left: 50%;
    margin-left: -2px;
    z-index: -1;
  }

  .nodos {
    .nodo {
      .icon {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      h5 {
        margin-bottom: 0;
      }
      &.first, &.start {
        background: white;
        @include media-breakpoint-down(sm) {
          background: $gray-100;
        }
        box-shadow: none;
      }
    }
    width: 100%;
    h3 {
      padding: 0.5rem 0;
      margin: 1.5rem 0;
      text-align: center;
      background: white;
      @include media-breakpoint-down(sm) {
        background: $gray-100;
      }
    }
  }
}

// Helpers ------------------------------------------------------------------

.break-container {
  @include media-breakpoint-down(md) {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    h1 {
      display: none;
    }
  }
}
.vertical-align {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.clickeable {
  cursor: pointer;
}

.container {
  @include media-breakpoint-down(lg) {
    width: 100% !important;
    max-width: inherit !important;
  }
}
.relative {
  position: relative;
}

// Propuestas --------------------------------------------------------------

.requisitos-group {
  margin-bottom: 1rem;

  .requisito {
    font-weight: 500;

    &.total {
      color: $success;
    }
    &.parcial {
      color: $warning;
    }
  }
}

// Espectaculos --------------------------------------

.date {
  float: left;
  padding-right: 1rem;
  border-right: 1px solid $gray-300;
  margin-right: 1rem;
  padding-top: 8px;
  @include media-breakpoint-up(md) {
    padding-top: 4px;
  }
  text-align: center;
  .lead {
    line-height: 1rem;
  }
}

.espectaculo {
  .card-body {
    padding: 1rem 1rem 0.8rem;
  }
  .header {
    border-bottom: 1px solid $gray-300;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .title {
    h4 {
      margin-bottom: 0px;
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
    h5 {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1rem;
      font-family: $font-family-sans-serif;
    }
  }
  .image {
    height: 180px;
    @include media-breakpoint-up(sm) {
      height: 250px;
    }
    overflow: hidden;
    position: relative;
    .image-cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: center center;
      background-size: cover;
    }
  }

}

#espectaculo-open {
  .list-group {
    &-item {
      border: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .VueCarousel-pagination {
    position: relative;
    //bottom: 20px;
  }
  .imagen {
    padding: 0 4px;
  }
  .navigation-bar {
    box-shadow: none;
    background: none;
  }
  #primary {
    padding-top: 0;
  }
  .main-title {
    display: block !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .header {
    position: relative;
    .floating {
      left: inherit !important;
      right: 15px;
      bottom: 3rem !important;
    }
  }

  .image {
    .image-cover {
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
    }
    &.portada {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 250px;
      @include media-breakpoint-up(md) {
        height: 400px;
      }
      margin-bottom: 3rem;

    }
    &.perfil {
      position: absolute;
      left: 15px;
      bottom: 0.5rem;
      width: 120px;
      height: 120px;
      @include media-breakpoint-up(md) {
        width: 150px;
        height: 150px;
      }
      border-radius: 100px;
      z-index: 2;
      overflow: hidden;
      border: 5px white solid;
    }
  }
  .modal-dialog {
    max-width: 990px;
  }
  .btn.floating {
    position: absolute;
    bottom: 60px;
    left: 10px;
  }
}

#teatro-open {
  @extend #espectaculo-open;

}

ul.timeline {
  list-style-type: none;
  position: relative;
  h5 {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    margin: 2px 0;
  }
  span {
    @extend .small;
    margin-bottom: 0;
  }
}

ul.timeline:before {
  content: ' ';
  background: $gray-300;
  display: inline-block;
  position: absolute;
  left: 13px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 1rem 0;
  padding-left: 5px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $primary;
  left: 6px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

ul.timeline > li.start:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $primary;
  left: 6px;
  width: 15px;
  height: 15px;
  z-index: 400;
}

#calendar {
  .datepicker {
    .picker-switch {
      font-family: $font-family-display;
      font-size: 0.9rem;
      font-weight: 400;
    }
    table {
      font-size: 0.8rem;
      td {
        border-radius: 30px;
        padding: 7px 10px;
        &.today:before {
          display: none;
        }
        &.active {
          background: $primary;
          color: #fff !important;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// Pagos --------------------------------------
#pagos {
  .tr.datos {
    float: left;
    width: -webkit-calc(100% - 75px);
    width: -moz-calc(100% - 75px);
    width: calc(100% - 75px);
  }
  .tr.accion {
    width: 75px;
    right: 1.5rem;
    text-align: right;
  }

}