<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="Acuerdo de participación" text_lg="volver" link="/propuesta/200002" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row tabs-menu d-none d-lg-block">
                    <h1 class="main-title no-lead">Acuerdo de participación</h1>
                </div>
                <div class="row pt-4">
                    <div class="col-12 col-lg-8">
                        <h4 class="mb-4">Te comprometés a realizar una función:</h4>
                        <p><i class="fas fa-ticket-alt text-primary mr-2"></i> En la <strong>Sala Nicanor Otamendi</strong> del <strong>Teatro Municipal Colón</strong></p>
                        <p><i class="fas fa-map-marker-alt text-primary mr-2"></i> En la ciudad de <strong>Mar del Plata</strong></p>
                        <p><i class="fas fa-calendar-alt text-primary mr-2"></i> El día <strong>05 de agosto de 2017</strong></p>
                        <p><i class="fas fa-clock text-primary mr-2"></i> En el horario de <strong>19:30 hs</strong> </p>
                    </div>
                    <div class="col-12 pt-3 pb-4">
                        <hr>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h4 class="mb-4">El Teatro Colón se comprometé a:</h4>
                        <p><i class="fas fa-money-bill-alt text-primary mr-2"></i> Pagar un cachet de <strong>$12.000</strong></p>
                        <p><i class="fas fa-check text-primary mr-2"></i> <strong>Cubrir los siguientes requisitos</strong></p>
                        <div class="px-4">
                            <p><span class="badge badge-success mb-1">TOTAL</span> <br>
                                <strong>Translado local:</strong> Transporte para 8 personas</p>
                            <p><span class="badge badge-warning mb-1">PARCIAL</span> <br>
                                <strong>Comidas:</strong> Puedo pagarles un sánguche com Manaos</p>
                        </div>
                    </div>
                    <div class="col-12 pt-3 pb-4">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <router-link to="/ok/acuerdo" class="btn btn-primary btn-block-xs-only float-lg-left">ACEPTAR ACUERDO</router-link>
                        <div class="spacer-2 d-block d-lg-none"></div>
                        <a href="#" class="btn btn-outline-secondary btn-block-xs-only float-lg-right mb-4">DESCARGAR EN PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar'
import SideBar from '@/components/SideBar'
export default {
  name: 'Acuerdo',
  components: {SideBar, NavigationBar}
}
</script>

<style scoped>

</style>
