<template>
    <div id="circuito" class="main page segments">
        <MenuBar></MenuBar>
        <Segments active="cerca"></Segments>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <div class="cta">
                    <h1 class="main-title">Agenda</h1>
                    <router-link to="/agregar-sala" class="btn btn-sm btn-link d-none d-md-block">AGREGAR UNA SALA</router-link>
                    <router-link to="/agregar-funcion" class="btn btn-sm btn-primary float-right d-none d-md-block">AGREGAR UN ESPECTÁCULO</router-link>
                </div>
                <FilterMenu :filters="filter_menu"></FilterMenu>
                <div class="row">
                    <div class="col-12 d-inline-block d-xl-none date-select">
                        <date-picker v-model="date" :config="optionssmall"
                                     class="form-control filter text-uppercase my-2"></date-picker>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col-xl-8" id="espectaculos">
                        <div class="nodos">
                            <Funcion :nodo="item" v-for="item in funciones"></Funcion>
                        </div>
                    </div>
                    <div class="col-xl-4 d-none d-xl-block" id="calendar">
                        <date-picker v-model="date" :config="options" class="float-right"></date-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MenuBar from '../components/MenuBar'
import Segments from '../components/Segments'
import SideBar from '../components/SideBar'
import DatePicker from 'vue-bootstrap-datetimepicker/src/component'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
import FilterMenu from '../components/FilterMenu'
import Funcion from '../components/Funcion'

export default {
  name: 'Agenda',
  components: {Funcion, FilterMenu, DatePicker, SideBar, Segments, MenuBar},
  data () {
    return {
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        inline: true,
        locale: 'es',
        minDate: new Date()
      },
      filter_menu: [
        {text: 'Sala Nicanor Otamendi', class: 'nuevas', id: '0'},
        {text: 'Sala Jacinta Connor', class: 'pendientes', id: '1'}
      ],
      funciones: [
        {
          dia: '25',
          mes: 'AGO',
          ano: '2018',
          teatro: 'Teatro Municipal Colón',
          ubicacion: 'Mar del Plata, Argentina',
          accion: 'VER FUNCIÓN'
        },
        {
          dia: '25',
          mes: 'AGO',
          ano: '2018',
          teatro: 'Teatro Municipal Colón',
          ubicacion: 'Mar del Plata, Argentina',
          accion: 'VER FUNCIÓN'
        }

      ]
    }
  }

}
</script>

<style scoped>

</style>
