<template>
    <div id="ajustes" class="main page">
        <MenuBar text="Ajustes"></Menubar>
        <div class="container">
            <SideBar></Sidebar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1 class="no-lead">Ajustes</h1>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 v-if="$user==='obra'">Espectáculo</h4>
                                <h4 v-if="$tipo==='teatro' & $user==='sala'">Teatro</h4>
                                <h4 v-if="$tipo==='festival' & $user==='sala'">Festival</h4>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div v-if="$user==='obra'">
                                        Perfil del espectáculo
                                    </div>
                                    <div v-if="$tipo==='teatro' & $user==='sala'">
                                        Perfil del teatro
                                    </div>
                                    <div v-if="$tipo==='festival' & $user==='sala'">
                                        Perfil del festival
                                    </div>
                                    <router-link to="/perfil/editar"
                                                 class="list-group-action" v-if="$user==='obra'">
                                        <span class="d-none d-lg-inline"> EDITAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                    <router-link to="/perfil/teatro/editar"
                                                 class="list-group-action" v-else>
                                        <span class="d-none d-lg-inline"> EDITAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item" v-if="$user==='obra'">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Gira
                                    </div>
                                    <router-link to="/ajustes/gira"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> EDITAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item" v-if="$tipo==='festival' & $user==='sala'">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Teatros participantes
                                    </div>
                                    <router-link to="/agregar-teatro"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> GESTIONAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item" v-if="$tipo==='teatro' & $user==='sala'">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Salas
                                    </div>
                                    <router-link to="/teatro/teatro-municipal-colon/ubicacion"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> GESTIONAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-2"></div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Cuenta</h4>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Editar mis datos
                                    </div>
                                    <router-link to="/mi-cuenta"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> EDITAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Cambiar mi contraseña
                                    </div>
                                    <router-link to="/mi-cuenta"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> EDITAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-2"></div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Información</h4>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Ayuda
                                    </div>
                                    <router-link to="/ayuda"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> IR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Reportar un problema
                                    </div>
                                    <a class="list-group-action" target="_blank" href="http://trampolin.com.ar/reportar-problema">
                                        <span class="d-none d-lg-inline"> IR  <i
                                                class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Condiciones del servicio
                                    </div>
                                    <a class="list-group-action" target="_blank" href="http://trampolin.com.ar/condiciones">
                                        <span class="d-none d-lg-inline"> IR  <i
                                                class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Política de privacidad
                                    </div>
                                    <a class="list-group-action" target="_blank" href="http://trampolin.com.ar/politica-de-privacidad">
                                        <span class="d-none d-lg-inline"> IR  <i
                                                class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        Política de cookies
                                    </div>
                                    <a class="list-group-action" target="_blank" href="http://trampolin.com.ar/cookies">
                                        <span class="d-none d-lg-inline"> IR  <i
                                                class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="list-group">
                            <div class="list-group-item">
                            </div>
                            <div class="list-group-item">
                                <router-link to="/login">
                                    <span class="text-danger">Salir</span>
                                </router-link>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
  import MenuBar from '../components/MenuBar'
  import SideBar from '../components/SideBar'

  export default {
    name: 'Ajustes',
    components: {SideBar, MenuBar}
  }
</script>

<style scoped>

</style>
