<template>
    <div id="ajustes-gira" class="main page">
        <NavigationBar text_xs="Ajustes de gira" text_lg="volver" link="/cerca"
                       tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="no-lead main-title">Ajustes de gira</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="spacer-1"></div>
                        <h4>Activación</h4>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="gira-activa" checked>
                                <label class="custom-control-label" for="gira-activa">Gira activa</label>
                                <small id="" class="form-text text-muted">
                                    La gira se activará automáticamente cuando tu perfil esté completo.<br> Si la
                                    desactivas, los teatros y festivales ya no verán tu obra.
                                </small>
                            </div>
                        </div>
                        <div class="spacer-1"></div>
                        <h4>Límites geográficos</h4>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="gira-pais" checked>
                                <label class="custom-control-label" for="gira-pais">Girar en mi país</label>
                                <small id="" class="form-text text-muted">
                                    Si activas esta opción, los teatros y festivales les mostraremos tu obra a los
                                    teatros y festivales de tu país.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="gira-exterior" checked>
                                <label class="custom-control-label" for="gira-exterior">Girar en paises
                                    limítrofes</label>
                                <small id="" class="form-text text-muted">
                                    Si activas esta opción, los teatros y festivales les mostraremos tu obra a los
                                    teatros y festivales de los paises limítrofes.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="gira-mundial" checked>
                                <label class="custom-control-label" for="gira-exterior">Girar por el mundo</label>
                                <small id="" class="form-text text-muted">
                                    Si activas esta opción, los teatros y festivales les mostraremos tu obra a los
                                    teatros y festivales de todo el mundo.
                                </small>
                            </div>
                        </div>
                        <div class="spacer-1"></div>
                        <h4>Distancia entre funciones</h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" id="kms" name="kms"
                                       class="form-control w-100 d-block" style="max-width: 100px;">
                                <div class="input-group-prepend pl-4">
                                    <div class="input-group-text">kms</div>
                                </div>
                                <small id="" class="form-text text-muted w-100">
                                    La distancia máxima que quieres recorrer entre cada función.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <router-link to="/ok/ajustes" class="btn-primary btn">GUARDAR</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import SideBar from '../components/SideBar'
  import NavigationBar from '../components/NavigationBar'

  export default {
    name: 'AjustesGira',
    components: {NavigationBar, SideBar}
  }
</script>

<style scoped>

</style>
