<template>
    <div id="circuito" class="main page segments">
        <MenuBar></MenuBar>
        <Segments active="cerca"></Segments>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <h1 class="main-title no-lead">Espectáculos cerca
                </h1>
                <div class="row">
                    <div class="col-12 d-inline-block d-xl-none date-select">
                        <date-picker v-model="date" :config="optionssmall" class="form-control filter text-uppercase my-2"></date-picker>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col-xl-8" id="espectaculos">
                        <div class="card-container" id="orders-body" v-for="item in espectaculos">
                            <Espectaculo :espectaculo='item'></Espectaculo>
                        </div>
                    </div>
                    <div class="col-xl-4" id="calendar">
                        <date-picker v-model="date" :config="options" class="float-right d-none d-xl-block"></date-picker>
                    </div>
                </div>
           </div>
        </div>
    </div>
</template>

<script>
import MenuBar from '../components/MenuBar'
import Segments from '../components/Segments'
import Espectaculo from '../components/Espectaculo'
import datePicker from 'vue-bootstrap-datetimepicker'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
import SideBar from "../components/SideBar";

export default {
  name: 'Cerca',
  $user: 'sala',
  components: {SideBar, datePicker, Espectaculo, Segments, MenuBar},
  props: { type: '' },
  data () {
    return {
      espectaculos: [
        {
          imagen: 'https://picsum.photos/600/290',
          nombre: 'Nombre del espectáculo',
          autor: 'Carlos Amallo',
          direccion: 'Marcos Moreira',
          duracion: '2',
          distancia: '200',
          dia: '25',
          mes: 'SEPT',
          ano: '2018'
        },
        {
          imagen: 'https://picsum.photos/601/290',
          nombre: 'Nombre del espectáculo',
          autor: 'Carlos Amallo',
          direccion: 'Marcos Moreira',
          duracion: '2',
          distancia: '200 kms',
          dia: '25',
          mes: 'SEPT',
          ano: '2018'
        },
        {
          imagen: 'https://picsum.photos/601/290',
          nombre: 'Nombre del espectáculo',
          autor: 'Carlos Amallo',
          direccion: 'Marcos Moreira',
          duracion: '2',
          distancia: '200',
          dia: '25',
          mes: 'SEPT',
          ano: '2018'
        },{
          imagen: 'https://picsum.photos/601/290',
          nombre: 'Nombre del espectáculo',
          autor: 'Carlos Amallo',
          direccion: 'Marcos Moreira',
          duracion: '2',
          distancia: '200',
          dia: '25',
          mes: 'SEPT',
          ano: '2018'
        }
      ],
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        inline: true,
        locale: 'es',
        minDate: new Date()
      },
      optionssmall: {
        format: 'YYYY  |   MMMM ',
        locale: 'es',
        minDate: new Date()
      }
    }
  }
}
</script>

<style scoped>
</style>
