<template>
    <div id="pagos" class="main open-modal">
        <NavigationBar text_xs="Preparando el pago" text_lg="volver" tipo="volver"></NavigationBar>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Preparando el pago</h1>
                                <p class="lead">Confirma que todos los datos sean correctos, presiona pagar y serás redirigido a la página de pagos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Datos de la función</h4>
                            </div>
                            <div class="list-group-item">
                                <h5>Sede</h5>
                                <router-link to="/teatro/200002"><p>
                                    Teatro Colón, Mar del Plata, Argentina</p></router-link>
                            </div>
                            <div class="list-group-item">
                                <h5>Fecha</h5>
                                <router-link to="/funcion/200002">
                                    <p>22/12/2017, 14 hs</p>
                                </router-link>
                            </div>
                        </div>
                        <div class="spacer-2"></div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Datos del pago</h4>
                            </div>
                            <div class="list-group-item border-0">
                                <h5>Total</h5>
                                <p class="h1 text-primary">$700</p>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <h5>Metodo de pago</h5>
                            <div class="custom-control custom-checkbox mr-sm-2 mt-3">
                                <input type="checkbox" class="custom-control-input" id="metodo" checked>
                                <label class="custom-control-label" for="metodo">Pagar con Payu</label>
                            </div>
                                <div class="custom-control custom-checkbox mr-sm-2 mt-3">
                                    <input type="checkbox" class="custom-control-input" id="metodo" >
                                    <label class="custom-control-label" for="metodo">Pagar con transferencia</label>
                                </div>

                        </div>
                        <div class="spacer-1"></div>
                        <router-link to="/ok/pago"  class="btn btn-primary btn-lg">
                                PAGAR
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import NavigationBar from "../components/NavigationBar";
  import SideBar from "../components/SideBar";

  export default {
    name: "Checkout",
    components: {SideBar, NavigationBar}
  }
</script>

<style scoped>

</style>