<template>
    <div id="mi-cuenta" class="main page segments">
        <NavigationBar text_xs="Mi cuenta" text_lg="volver" link="/ajustes" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></Sidebar>
            <div id="primary">
                <h1 class="main-title no-lead">Mi cuenta</h1>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" value="Marcos Moreira"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" value="dgmarcosmoreira@gmail.com"/>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input class="form-control" value="2235110886"/>
                        </div>
                        <div class="form-group" v-if="$tipo==='teatro'">
                            <label>¿Cuál es tu rol en el teatro?</label>
                            <select class="form-control">
                                <option value="1">Director/a General </option>
                                <option value="2">Gerente/a</option>
                                <option value="3">Productor/a</option>
                                <option value="4">Programador/a</option>
                                <option value="5">Otro</option>
                            </select>
                        </div>
                        <div class="form-group" v-if="$tipo==='festival'">
                            <label>¿Cuál es tu rol en el festival?</label>
                            <select class="form-control">
                                <option value="1">Organizador/a </option>
                                <option value="2">Director/a artístico/a</option>
                                <option value="3">Productor/a</option>
                                <option value="4">Programador/a</option>
                                <option value="5">Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <router-link to="/ok/mi-cuenta" class="btn-primary btn">GUARDAR</router-link>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>
<script>
import MenuBar from '../components/MenuBar'
import Segments from '../components/Segments'
import SideBar from '../components/SideBar'
import NavigationBar from '../components/NavigationBar'
export default {
  name: 'Cuenta',
  components: {NavigationBar, SideBar, Segments, MenuBar}
}
</script>

<style scoped>

</style>
