<template>
    <div id="espectaculo-open" class="main">
        <NavigationBar text_xs="Nombre del espectáculo" text_lg="volver" link="/cerca"
                       tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row">
                    <div class="header w-100">
                        <div class="image portada clickeable" @click="showModal">
                            <div class="image-cover"
                                 style="background-image: url('https://picsum.photos/1001/400')"></div>

                        </div>
                        <div class="image perfil clickeable" @click="showModal">
                            <div class="image-cover" style="background-image: url('https://picsum.photos/80/80')"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h1 class="main-title">Nombre del espectáculo</h1>
                        <p>"Como Todos Los Días" es un musical transparente, fresco y divertido sobre vínculos reales en
                            la ciudad que nunca duerme (aunque en cierta medida, debería). Cuenta la historia de 4
                            jóvenes newyorkinos cuyas vidas se entrelazan en la búsqueda de plenitud, felicidad, amor y
                            taxis. Entre vibrantes y memorables canciones sus vidas van experimentando cambios de fondo.
                            "Como Todos Los Días" es un musical que cautivará a quienes alguna vez se enfrentaron con la
                            tarea de apreciar las cosas simples de la vida.</p>

                        <router-link to="/agregar-propuesta" class="btn btn-primary my-3">¡ME INTERESA!
                        </router-link>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <h5>Autor</h5>
                                        <p>Lorem Ipsum</p>
                                    </div>
                                    <div class="list-group-item">
                                        <h5>Director</h5>
                                        <p>Lorem Ipsum</p>
                                    </div>
                                    <div class="list-group-item">
                                        <h5>Actores</h5>
                                        <p>Jorge Perez, Marta Lopecita, Laura Acosta</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <h5>Duración</h5>
                                        <p>40 minutos</p>
                                    </div>
                                    <div class="list-group-item">
                                        <h5>Tipo de público</h5>
                                        <p>Adultos</p>
                                    </div>
                                    <div class="list-group-item">
                                        <h5>Género</h5>
                                        <p>Comedia</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <div class="spacer-1"></div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12 mb-4">
                        <div class="embed-responsive embed-responsive-16by9 mb-4">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                                    allowfullscreen></iframe>
                        </div>
                        <carousel :per-page="3" mouse-drag="true"
                                  class="mt-3 gallery-slides text-center d-none d-lg-block">
                            <slide>
                                <div class="imagen clickeable" @click="showModal">
                                    <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                </div>
                            </slide>
                            <slide>
                                <div class="imagen clickeable" @click="showModal">
                                    <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                </div>
                            </slide>
                            <slide>
                                <div class="imagen clickeable" @click="showModal">
                                    <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                </div>
                            </slide>
                            <slide>
                                <div class="imagen clickeable" @click="showModal">
                                    <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                </div>
                            </slide>
                        </carousel>

                        <b-modal ref="showImage" id="showImage" hide-footer title="">
                            <img src="https://picsum.photos/1000/600?random" class="img-fluid"/>
                        </b-modal>

                        <carousel :per-page="1" mouse-drag="true"
                                  class="mt-3 gallery-slides text-center d-block d-lg-none">
                            <slide>
                                <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                            </slide>
                            <slide>
                                <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                            </slide>
                            <slide>
                                <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                            </slide>
                            <slide>
                                <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                            </slide>
                        </carousel>
                    </div>
                    <div class="spacer-2"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h3 class="mb-4 mt-3">Ficha técnica</h3>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h5>Personas en gira</h5>
                                <p>12 personas</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Horas de montaje</h5>
                                <p>2 hs</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Horas de desmontaje</h5>
                                <p>2 hs</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Espacio escénico</h5>
                                <p>4 m de frente, 2 m de profundidad y 2 metros de altura.</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Sonido</h5>
                                <p>2 Micrófonos vincha y consola de sonido.</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Escenografía</h5>
                                <p>1. Sillon dos cuerpos, 10 kilos, 2 m x 1,25 m. 2. Lienzo enmarcado, 1 k, 1 m
                                    x 1
                                    m.</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Iluminación</h5>
                                <p>
                                    <button class="btn btn-link px-0 btn-sm mt-2"><i
                                            class="fas fa-arrow-circle-down"></i> PLANTA DE ILUMINACIÓN
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3 class="mb-4 mt-3">Cachet</h3>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h5 class="text-primary"><i class="far fa-check-circle"></i> Puede ir a bordereaux</h5>
                            </div>
                            <div class="list-group-item">
                                <h5>Cachet nacional</h5>
                                <p>
                                    $12.000
                                </p>
                            </div>
                            <div class="list-group-item">
                                <h5>Cachet internacional</h5>
                                <p>
                                    U$S 2.000
                                </p>
                            </div>
                        </div>
                        <h3 class="mb-4 mt-3">Gira</h3>
                        <ul class="timeline">
                            <li>
                                <span>4 de marzo, 2014</span>
                                <h5>Teatro Nacional Colón</h5>
                                <span>Buenos Aires, Argentina</span>
                            </li>
                            <li>
                                <span>4 de marzo, 2014</span>
                                <h5>Teatro Nacional Colón</h5>
                                <span>Buenos Aires, Argentina</span>
                            </li>
                            <li>
                                <span>4 de marzo, 2014</span>
                                <h5>Teatro Nacional Colón</h5>
                                <span>Buenos Aires, Argentina</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12">
                        <h3 class="mb-4 mt-3">Requisitos que puedes cubrir</h3>
                        <div class="list-group">
                            <div class="list-group-item">
                                <h5 class="text-uppercase float-left">Translado local</h5>
                                <p class="text-primary float-left"><i class="fas fa-info-circle pl-3"></i> Lo necesario
                                    para las
                                    personas en gira y el
                                    vestuario</p>
                            </div>
                            <div class="list-group-item">
                                <h5 class="text-uppercase float-left">Translado regional</h5>
                                <p class="text-primary float-left"><i class="fas fa-info-circle pl-3"></i> Lo necesario
                                    para las
                                    personas en gira y el
                                    vestuario</p>
                            </div>
                            <div class="list-group-item">
                                <h5 class="text-uppercase float-left">Comidas</h5>
                                <p class="text-primary float-left"><i class="fas fa-info-circle pl-3"></i> Almuerzo y
                                    cena para 5
                                    personas con dos menues veganos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12 ">
                        <router-link to="/agregar-propuesta" class="btn btn-primary btn-lg btn-block-xs-only my-3">¡ME
                            INTERESA!
                        </router-link>
                        <div class="spacer-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'Teatro',
  components: {
    NavigationBar,
    SideBar
  },
  methods: {
    showModal () {
      this.$refs.showImage.show()
    },
    hideModal () {
      this.$refs.showImage.hide()
    }
  }
}
</script>

<style scoped>

</style>
