<template>
    <div id="agenda" class="main">
        <NavigationBar text_xs="Agenda" text_lg="volver" link="/agenda" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Agregar funciones</h1>
                                <p class="lead">Agregá tus espectáculos confirmados y manten tu agenda organizada </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div id="agenda">
                            <form action="">
                                <div class="form-group">
                                    <label>Fecha de la función</label>
                                    <date-picker v-model="date" :config="options"></date-picker>
                                </div>
                                <div class="form-group">
                                    <label>Espectáculo</label>
                                    <div class="input-group">
                                        <input v-model="obra" id="espectaculo" name="espectaculo" class="form-control"
                                               placeholder="Buscar un espectáculo">
                                        <div class="input-group-prepend pl-4">
                                            <a href="#">
                                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="obra">
                                    <div class="card search-teatro mb-4">
                                        <div class="list-group px-3">
                                            <!--MOSTRAR DATOS DEL TEATRO SI HAY COINCIDENCIA-->
                                            <!--<div class="list-group-item">
                                                <div class="image float-left pr-4">
                                                    <img src="http://via.placeholder.com/50x50" width="50"
                                                         class="full-rounded" height="50" alt="Nombre del espectáculo">
                                                </div>
                                                <div class="float-left">
                                                    <div class="title pt-1">
                                                        <h5>Nombre del espectáculo</h5>
                                                        <p class="small">Ubicación del espectáculo</p>
                                                    </div>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-link px-0 pt-3">AGREGAR</button>
                                                </div>
                                            </div>-->
                                            <!-- AGREGAR TEATRO SI NO ENCUENTRA NINGUNO -->
                                            <div class="list-group-item">
                                                <h4 class="py-4 text-center"><i class="far fa-frown"></i> No encontramos
                                                    ningún espectáculo</h4>
                                                <hr>
                                                <p class="lead pt-3">Enviale una invitación</p>
                                                <div class="form-group">
                                                    <label>Nombre del espectáculo</label>
                                                    <input type="text" id="nombre-espectaculo" name="nombre-espectaculo"
                                                           class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email del responsable</label>
                                                    <input type="text" id="email-espectaculo" name="email-espectaculo"
                                                           class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-secondary btn-md"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-if="$tipo==='festival'">
                                    <label>Teatro</label>
                                    <select class="form-control" id="sala" name="sala">
                                        <option>Teatro Colón</option>
                                        <option>Teatro Séptimo Fuego</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sala</label>
                                    <select class="form-control" id="sala" name="sala">
                                        <option>Sala Nicanor Otamendi</option>
                                        <option>Sala Jacinta Connor</option>
                                    </select>
                                </div>
                                <router-link to="/agenda" class="btn btn-primary btn-block-xs-only float-lg-left">
                                    GUARDAR
                                </router-link>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavigationBar from '../components/NavigationBar'
import SideBar from '../components/SideBar'
import DatePicker from 'vue-bootstrap-datetimepicker/src/component'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

export default {
  name: 'FuncionAdd',
  components: {DatePicker, SideBar, NavigationBar},
  data () {
    return {
      obra: '',
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        locale: 'es'
      }
    }
  }
}
</script>

<style scoped>

</style>
