<template>
    <div id="funcion" class="main">
        <NavigationBar text_xs="Acuerdo participación" text_lg="volver" link="/propuestas"
                       tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row tabs-menu d-none d-lg-block">
                    <h1 class="main-title no-lead">Función</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Datos de contacto</h4>
                            </div>

                            <div class="list-group-item" v-if="$user==='obra'">
                                <div class="d-flex w-100 justify-content-between align-items-center clickeable"
                                     data-link="teatro-1.php">
                                    <img src="https://picsum.photos/60/60?random"
                                         class="full-rounded float-left  mr-4"
                                         width="50" height="50"
                                         alt="Teatro Municipal Colón">
                                    <h4 class="mr-auto mt-1">Teatro Municipal Colón</h4>
                                    <router-link to="/teatro/teatro-municipal-colon" class="list-group-action">
                                        <span class="d-none d-lg-inline"> VER PERFIL</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>

                            <div class="list-group-item" v-else>
                                <div class="d-flex w-100 justify-content-between align-items-center clickeable"
                                     data-link="teatro-1.php">
                                    <img src="https://picsum.photos/60/60?random"
                                         class="full-rounded float-left  mr-4"
                                         width="50" height="50"
                                         alt="Teatro Municipal Colón">
                                    <h4 class="mr-auto mt-1">Nombre de la obra</h4>
                                    <router-link to="/espectaculo/200002" class="list-group-action">
                                        <span class="d-none d-lg-inline"> VER PERFIL</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <h5>Teléfono</h5>
                                <p>0223 499-6555</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Email</h5>
                                <p>contacto@teatrocolonmdp.com.ar</p>
                            </div>

                            <div class="list-group-item" v-if="$user==='obra'">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Ubicación</h5>
                                        <p class="align-self-auto">Hipolito Irigoyen 2450, Mar del Plata, Argentina</p>
                                    </div>
                                    <router-link to="/teatro/teatro-municipal-colon/ubicacion"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline"> VER EN MAPA</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item" v-else>
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Ubicación actual</h5>
                                        <p class="align-self-auto">Mar del Plata, Argentina</p>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer-2"></div>
                            <div class="list-group-item">
                                <h4>Datos de la función</h4>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Fecha de la función</h5>
                                        <p>05 de agosto de 2017, 19:30 hs</p>
                                    </div>
                                    <router-link to="/funcion/200002/editar-fecha"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline text-primary"> EDITAR</span>
                                        <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item" v-if="$tipo==='festival'">
                                <div class="d-flex w-100 justify-content-between align-items-center clickeable">
                                    <div>
                                        <h5>Teatro</h5>
                                        <p>Teatro Municipal Colón</p>
                                    </div>
                                    <router-link to="/teatro/teatro-municipal-colon/sala-nicanor-otamendi"
                                                 class="list-group-action" v-if="$user==='obra'">
                                        <span class="d-none d-lg-inline"> VER SALA</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                    <router-link to="/funcion/200002/editar-sala"
                                                 class="list-group-action" v-else>
                                        <span class="d-none d-lg-inline text-primary"> CAMBIAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center clickeable">
                                    <div>
                                        <h5>Sala</h5>
                                        <p>Sala Nicanor Otamendi</p>
                                    </div>
                                    <router-link to="/teatro/teatro-municipal-colon/sala-nicanor-otamendi"
                                                 class="list-group-action" v-if="$user==='obra'">
                                        <span class="d-none d-lg-inline"> VER SALA</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                    <router-link to="/funcion/200002/editar-sala"
                                                 class="list-group-action" v-else>
                                        <span class="d-none d-lg-inline text-primary"> CAMBIAR</span>
                                        <i class="fas pl-1 fa-arrow-right d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <h5>Cachet</h5>
                                <p>$12.000</p>
                            </div>
                            <div class="list-group-item">
                                <h5 class="mb-2">Requisitos cubiertos</h5>
                                <div class="requisitos-group">
                                    <p class="requisito total"> Translado local <span
                                            class="badge ml-2 badge-success">TOTAL</span></p>
                                    <p class="aclaracion"> Transporte para 8 personas</p>
                                </div>
                                <div class="requisitos-group">
                                    <p class="requisito parcial">Comidas <span
                                            class="badge ml-2 badge-warning">PARCIAL</span>
                                    </p>
                                    <p class="aclaracion"> Puedo pagarles un sánguche con Manaos</p>
                                </div>
                            </div>
                            <div class="spacer-2"></div>
                        </div>
                        <button class="btn btn-danger mb-4" @click="showModal">CANCELAR LA FUNCIÓN</button>

                        <b-modal ref="confirmacion" id="confirmacion" hide-footer title="">
                            <div class="d-block text-center mt-4">
                                <h3>¿Quieres rechazar la propuesta?</h3>
                            </div>
                            <div class="text-center mt-4">
                                <b-btn class="mt-3" @click="hideModal">
                                    NO
                                </b-btn>
                                <b-btn class="mt-3 ml-4" variant="primary" to="/propuestas">
                                    SI
                                </b-btn>
                            </div>
                        </b-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'FuncionOpen',
  components: {
    NavigationBar,
    SideBar
  },
  methods: {
    showModal () {
      this.$refs.confirmacion.show()
    },
    hideModal () {
      this.$refs.confirmacion.hide()
    }
  }

}
</script>

<style scoped>

</style>
