<template>
    <div id="agenda" class="main">
        <NavigationBar text_xs="Agenda" text_lg="volver" link="/agenda" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Edición de función</h1>
                                <p class="lead">Ingresa los cambios y enviale los motivos a el espectáculo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                            <form action="">
                                <div class="form-group">
                                    <label>Cambiar de teatro</label>
                                    <select class="form-control" id="teatro" name="teatro">
                                        <option>Teatro Colón</option>
                                        <option>Teatro Séptimo Fuego</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Cambiar la sala</label>
                                    <select class="form-control" id="sala" name="sala">
                                        <option>Sala Nicanor Otamendi</option>
                                        <option>Sala Jacinta Connor</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Motivo del cambio</label>
                                    <textarea type="text" class="form-control"></textarea>
                                    <small class="form-text text-muted">Ingresa el motivo del cambio. Se lo más claro posible.
                                    </small>
                                </div>
                                <router-link to="/agenda" class="btn btn-primary btn-block-xs-only float-lg-left">
                                    GUARDAR
                                </router-link>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import NavigationBar from '../components/NavigationBar'
import SideBar from '../components/SideBar'
import DatePicker from 'vue-bootstrap-datetimepicker/src/component'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'

export default {
  name: 'FuncionFechaEdit',
  components: {DatePicker, SideBar, NavigationBar},
  data () {
    return {
      obra: '',
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        locale: 'es'
      }
    }
  }
}
</script>

<style scoped>

</style>
