<template>
    <div id="circuito" class="main page segments">
        <MenuBar></MenuBar>
        <Segments active="gira"></Segments>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <h1 class="main-title">Gira</h1>
                <FilterMenu :filters="filter_menu"></FilterMenu>
                <div class="row">
                   <div class="col-12" id="nodo-container">
                       <div class="line"></div>
                       <div class="nodos" v-for="item in funciones">
                           <Funcion :nodo="item"></Funcion>
                           <h3>2019</h3>
                       </div>
                       <div class="nodos" v-for="item in funciones">
                           <Funcion :nodo="item"></Funcion>
                           <h3>2018</h3>
                       </div>
                       <div class="nodos start">
                           <div class="card nodo first text-center">
                               <div class="card-body">
                                   <div class="icon">
                                       <i class="fas fa-bullseye"></i>
                                   </div>
                                   <h4 class="mb-0">Mar del Plata</h4>
                                   <p>Buenos Aires</p>
                               </div>
                           </div>
                           <div class="card nodo start text-center">
                               <div class="card-body">
                                   <div class="icon">
                                       <i class="fas fa-flag"></i>
                                   </div>
                                   <h4 class="mb-0">Mar del Plata</h4>
                                   <p>Buenos Aires</p>
                               </div>
                           </div>
                           <h3>2017</h3>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Segments from '@/components/Segments'
import SideBar from '@/components/SideBar'
import Funcion from '@/components/Funcion'
import FilterMenu from '@/components/FilterMenu'
import MenuBar from '../components/MenuBar'

export default {
  name: 'Gira',
  components: {
    MenuBar,
    SideBar,
    Segments,
    FilterMenu,
    Funcion
  },
  data () {
    return {
      funciones: [
        {dia: '25', mes: 'AGO', ano: '2018', teatro: 'Teatro Municipal Colón', ubicacion: 'Mar del Plata, Argentina', accion: 'VER FUNCIÓN'}
      ],
      filter_menu: [
        {text: 'Histórico', id: '0'},
        {text: '2018', id: '1'},
        {text: '2017', id: '2'},
        {text: '2016', id: '3'}
      ]
    }
  }
}
</script>
<style scoped>

</style>
