<template>
    <div id="home" class="main open-modal no-obra">
        <div class="container">
            <SideBar></SideBar>
            <!-- USUARIO OBRA -->
            <div id="primary" v-if="$user=='obra'">
                <router-link to="/perfil" class="omitir-button"> OMITIR Y CARGAR ESPECTÁCULO <i
                        class="fas fa-arrow-right"></i></router-link>
                <carousel :per-page="1" :navigate-to="someLocalProperty" mouse-drag="true" :style="{height: fullHeight}"
                          class="home-slides text-center">
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>¡Hola {{usuario}}!</h1>
                                <h2>Bienvenido a Trampolín</h2>
                                <p class="lead">Somos una plataforma que optimiza la presentación de espectáculos por
                                    proximidad geográfica</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 1</h1>
                                <h2>Carga tu espectáculo</h2>
                                <p class="lead">Completa perfil de tu obra con todos los datos técnicos necesarios para
                                    realizar una función</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 2</h1>
                                <h2>Notificamos a los teatros que estén cerca</h2>
                                <p class="lead">El perfil de tu espectáculo llegará a los teatros y festivales cercanos
                                    a la
                                    ubicación de tu función programada</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="spacer-3"></div>
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 3</h1>
                                <h2>¡Te llegan las propuestas!</h2>
                                <p class="lead">Si al teatro o festival le gusta tu espectáculo, hace una propuesta.
                                    Puedes aceptarla, rechazarla o solicitar cambios</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 4</h1>
                                <h2>Pagás solo por función confirmada</h2>
                                <p class="lead pb-4">Trampolín solo te solicita un pago fijo de {PrecioServicio} por
                                    cada
                                    función nueva que generas utilizando la plataforma.</p>

                                <router-link to="/perfil" class="btn btn-primary d-none d-lg-inline">COMENCEMOS
                                </router-link>
                                <router-link to="/perfil" class="btn btn-warning d-inline-block d-lg-none">COMENCEMOS
                                </router-link>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>

            <!-- USUARIO SALA -->
            <div id="primary" v-if="$user=='sala'">
                <router-link to="/agregar-sala" class="omitir-button" v-if="$tipo==='teatro'"> OMITIR Y CARGAR SALA <i
                        class="fas fa-arrow-right"></i></router-link>
                <router-link to="/agregar-teatro" class="omitir-button" v-if="$tipo==='festival'"> OMITIR Y AGREGAR
                    TEATRO <i class="fas fa-arrow-right"></i></router-link>
                <carousel :per-page="1" :navigate-to="someLocalProperty" mouse-drag="true" :style="{height: fullHeight}"
                          class="home-slides text-center">
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>¡Hola {{usuario}}!</h1>
                                <h2>Bienvenido a Trampolín</h2>
                                <p class="lead">Somos una plataforma que optimiza la presentación de espectáculos por
                                    proximidad geográfica</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 1</h1>
                                <h2 v-if="$tipo==='teatro'">Carga la información de tu sala</h2>
                                <h2 v-if="$tipo==='festival'">Agrega los teatros participantes</h2>
                                <p class="lead" v-if="$tipo==='teatro'">Completa los datos técnicos y actualiza tu
                                    calendario de funciones.</p>
                                <p class="lead" v-if="$tipo==='festival'">Buscalos o invitalos a participar de la
                                    plataforma</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 2</h1>
                                <h2>Descubre nuevos espectáculos</h2>
                                <p class="lead">Podrás acceder a la lista de los que estarán cerca de tu {{$tipo}} a lo
                                    largo del año</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="spacer-3"></div>
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 3</h1>
                                <h2>¡Haces una propuesta!</h2>
                                <p class="lead">Tendrás acceso al perfil completo y sus requisitos</p>
                                <div class="slide-icon">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-lg-8">
                                <div class="icon"><i class="far fa-smile-beam"></i></div>
                                <div class="spacer-2"></div>
                                <h1>Paso 4</h1>
                                <h2>¡Lo lograste!</h2>
                                <p class="lead pb-4">Si el espectáculo acepta tu propuesta ya es parte de tu agenda sin
                                    costo
                                    alguno</p>

                                <router-link to="/agregar-sala" class="btn btn-primary d-none d-inline" v-if="$tipo==='teatro'">
                                    COMENCEMOS
                                </router-link>
                                <router-link to="/agregar-sala" class="btn btn-warning d-inline-block d-lg-none" v-if="$tipo==='teatro'">
                                    COMENCEMOS
                                </router-link>

                                <router-link to="/agregar-sala" class="btn btn-primary d-none d-lg-inline" v-if="$tipo==='festival'">
                                    COMENCEMOS
                                </router-link>
                                <router-link to="/agregar-sala" class="btn btn-warning d-inline-block d-lg-none" v-if="$tipo==='festival'">
                                    COMENCEMOS
                                </router-link>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</template>

<script>
import {Carousel, Slide} from 'vue-carousel'
import SideBar from '@/components/SideBar'
import NavigationBar from '../components/NavigationBar'

export default {
  name: 'Home',
  components: {
    NavigationBar,
    SideBar,
    Carousel,
    Slide
  },
  data () {
    return {
      fullHeight: window.innerHeight
    }
  }
}
</script>

<style scoped>

</style>
