<template>
    <div id="login-form" class="main">
        <MenuBar></MenuBar>
        <div class="container-fluid">
            <div class="spacer-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5" >
                        <div class="text-center">
                            <img src="../assets/img/logo-trampolin.svg" class="mx-auto" alt="Logo Trampolín" width="120">
                        </div>
                        <div class="spacer-1"></div>
                        <h2 class="main-title text-center mt-3 mb-1">¿Listo para saltar?</h2>
                        <!--<div class="spacer-1"></div>-->
                        <!--<a href="#" class="btn btn-info btn-block btn-lg-inline">INGRESAR CON FACEBOOK</a>-->
                        <div class="spacer-2"></div>
                        <div class="lined relative">
                            <div class="line w-100"></div>
                            <div class="text-center mb-4">
                                <small>COMPLETA TUS DATOS</small>
                            </div>
                        </div>
                        <form action="">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Ingresa tu email">
                            </div>
                            <div class="form-group password">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contaseña">
                            </div>
                            <div class="form-group">
                                <router-link to="/propuestas" class="btn btn-primary btn-block"><span
                                        @click="$login = true">INICIA SESIÓN</span></router-link>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <a href="" class="recover-pass">Recordar contraseña</a>
                        </div>

                        <div class="text-center">
                            <router-link to="/registro" class="btn btn-outline-default mx-auto">REGISTRATE</router-link>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="bg-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>
<style scoped>

</style>
