<template>
    <div id="mensaje" class="main">
    <div class="container">
        <SideBar></SideBar>
        <div id="primary">
            <div id="mensaje" class="mensaje error text-center">
                <div class="icon">
                    <i class="far fa-times-circle"></i>
                </div>
                <h1>{{mensaje}}</h1>
                <h4>{{texto}}</h4>
                <div class="spacer-2"></div>
                <router-link :to="AccionPrincipalLink" class="btn btn-primary">{{AccionPrincipal}}</router-link>
                <router-link :to="AccionSecundariaLink" class="btn btn-link d-block mt-3">{{AccionSecundaria}}</router-link>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'

export default {
  name: 'mensaje',
  components: {
    SideBar
  },
  props: [
    'mensaje',
    'texto',
    'AccionPrincipa',
    'AccionPrincipalLink',
    'AccionSecundaria',
    'AccionSecundariaLink'
  ]
}
</script>

<style scoped>

</style>
