<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="Pedido de modificación" text_lg="volver" link="/propuesta/200002"
                       tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>

            <div id="primary" v-if="$user==='obra'">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Solicitud de modificación</h1>
                                <p class="lead">Agrega los cambios que necesites. Se lo más claro posible para negociar
                                    con el teatro.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-1"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Fecha de la función</h5>
                                        <p>05 de agosto de 2017, 19:30 hs</p>
                                    </div>
                                    <router-link to="/funcion/200002/editar-fecha"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline text-primary"> MODIFICAR</span>
                                        <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Borderaux</h5>
                                        <p>"Te ofrecemos el 70% de la venta de entradas"</p>
                                    </div>
                                    <router-link to="/funcion/200002/editar-fecha"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline text-primary"> MODIFICAR</span>
                                        <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Solicitar requisitos</h5>
                                        <p>Este es el mensaje de requisitos agregado por el espectaculo</p>
                                    </div>
                                    <router-link to="/funcion/200002/editar-fecha"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline text-primary"> MODIFICAR</span>
                                        <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                                <!--<div class="row">
                                    <div class="col-md-6">
                                        <h5 class="mb-2">Cubiertos</h5>
                                        <div class="requisitos-group">
                                            <p class="requisito total"> Translado local <span class="badge ml-2 badge-success">TOTAL</span>
                                            </p>
                                            <p class="aclaracion"> Transporte para 8 personas</p>
                                        </div>
                                        <div class="requisitos-group">
                                            <p class="requisito parcial">Comidas <span
                                                    class="badge ml-2 badge-warning">PARCIAL</span></p>
                                            <p class="aclaracion"> Puedo pagarles un sánguche con Manaos</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="mb-2">Sin cubrir</h5>
                                        <p class="mb-2"> Alojamiento</p>
                                        <p class="mb-2">Translado de escenografía</p>
                                        <router-link to="/funcion/200002/editar-fecha"
                                                     class="list-group-action">
                                            <span class="d-none d-lg-inline text-primary"> MODIFICAR</span>
                                            <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                        </router-link>
                                    </div>
                                </div>-->
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div>
                                        <h5>Agregar un mensaje</h5>
                                        <p>Este es el mensaje general agregado por el espectaculo</p>
                                    </div>
                                    <router-link to="/funcion/200002/editar-fecha"
                                                 class="list-group-action">
                                        <span class="d-none d-lg-inline text-primary"> AGREGAR</span>
                                        <i class="far pl-1 fa-edit d-block d-lg-none"></i>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                        <div class="spacer-2"></div>
                        <router-link to="/ok/modificacion" class="btn btn-primary">SOLICITAR CAMBIOS
                        </router-link>
                    </div>
                    <div class="spacer-2 d-block d-lg-none"></div>
                </div>
            </div>

            <div id="primary" v-else>
                <!-- ACA DEBERÍAMOS MOSTRAR SOLO EL CAMPO QUE PIDE MODIFICAR EL ESPECTÁCULO, PONGO ESTO A MODO DE EJEMPLO -->
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Solicitud de modificación</h1>
                                <p class="lead">El espectáculo necesita que realices algunos cambios en la
                                    propuesta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h4>Cambios solicitados</h4>
                            </div>
                            <div class="list-group-item">
                                <h5>Fecha de la función</h5>
                                <p>05 de agosto de 2017, 19:30 hs</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Borderaux</h5>
                                <p>"Necesitamos por lo menos el 80% de las entradas"</p>
                            </div>
                            <div class="list-group-item">
                                <h5>Mensaje</h5>
                                <p>"Necesitamos por lo menos el 80% de las entradas"</p>
                            </div>
                        </div>
                        <div class="spacer-2"></div>
                        <router-link to="/propuesta/200002/editar" class="btn btn-primary">MODIFICAR PROPUESTA
                        </router-link>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>
<script>
  import SideBar from '@/components/SideBar'
  import NavigationBar from '@/components/NavigationBar'

  export default {
    name: 'Negociacion',
    data() {
      return {
        requisitos: false
      }
    },
    components: {
      NavigationBar,
      SideBar
    }
  }
</script>

<style scoped>

</style>
