<template>
<div id="alertas" class="main page">
  <MenuBar text="Notificaciones"></MenuBar>
  <div class="container" id="alertas">
    <SideBar></SideBar>
    <div id="primary">
      <h1 class="main-title">Notificaciones</h1>
      <FilterMenu :filters="filter_menu"></FilterMenu>
      <div class="card-container" id="alerts-body" v-for="item in alertasObras" v-if="$user==='obra'">
        <AlertMsg :alerta="item"></AlertMsg>
      </div>
      <div class="card-container" id="alerts-body" v-for="item in alertasSalas" v-if="$user==='sala'">
        <AlertMsg :alerta="item"></AlertMsg>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Segments from '@/components/Segments'
import AlertMsg from '@/components/Notificacion'
import SideBar from '@/components/SideBar'
import FilterMenu from '@/components/FilterMenu'
import MenuBar from '../components/MenuBar'

export default {
  name: 'Notificacions',
  components: {
    MenuBar,
    Segments,
    AlertMsg,
    SideBar,
    FilterMenu
  },
  data () {
    return {
      alertasObras: [
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{teatro/festival}} te hizo una propuesta', accion: 'ver propuesta', estado: 'no-leido'},
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{teatro/festival}} actualizó su propuesta', accion: 'ver propuesta', estado: 'no-leido'},
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{teatro/festival}} no aceptó modificar su propuesta', accion: 'ver propuesta', estado: 'no-leido' },
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{teatro/festival}} modificó su propuesta', accion: 'ver modificaciones', estado: 'no-leido'},

        {tipo: 'pagos', time: 'Hace dos horas', texto: '¡Tienes un pago pendiente!', accion: 'PAGAR AHORA', estado: 'no-leido'},
        {tipo: 'pagos', time: 'Hace dos horas', texto: 'Recuerda realizar tu pago para poder generar nuevas funciones', accion: 'PAGAR AHORA', estado: 'no-leido'},
        {tipo: 'pagos', time: 'Hace dos horas', texto: 'Realiza tu pago pendiente para seguir generando funciones', accion: 'PAGAR AHORA', estado: 'no-leido' },
        {tipo: 'pagos', time: 'Hace dos horas', texto: 'Tu espectáculo se está perdiendo oportunidades, paga para seguir girando.', accion: 'PAGAR AHORA', estado: 'no-leido'},
        {tipo: 'pagos', time: 'Hace dos horas', texto: 'Ups, tienes una deuda de ${{deuda}}', accion: 'PAGAR AHORA', estado: 'no-leido'},

        {tipo: 'agenda-ok', time: 'Hace dos horas', texto: '{{teatro/festival}} ha confirmado tu función', accion: 'VER CIRCUITO', estado: 'no-leido'},
        {tipo: 'agenda-error', time: 'Hace dos horas', texto: '{{teatro/festival}} ha rechazado tu pedido de función', accion: 'AGREGAR OTRO TEATRO', estado: 'no-leido'}

      ],
      alertasSalas: [
        {tipo: 'agenda-ok', time: 'Hace dos horas', texto: 'Tu usuario ha sido validado como representante de {{teatro/festival}}', accion: 'ver espectáculos', link: '/cerca', estado: 'no-leido'},
        {tipo: 'agenda-error', time: 'Hace dos horas', texto: 'Tu usuario no puede ser validado para representar a {{teatro/festival}}, ponte en contacto con soporte@trampolin.com.ar', accion: '', estado: 'no-leido'},

        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{espectaculo}} agregó una función en tu sala el día {{fecha.funcion}}', accion: 'VER', estado: 'no-leido' },
        {tipo: 'propuestas', time: 'Hace dos horas', texto: 'Recuerda confirmar que {{espectaculo}} se presentará en el {{fecha.funcion}}', accion: 'VER', estado: 'no-leido'},
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{espectaculo}} solicitó un cambio en tu propuesta', accion: 'VER PEDIDO', estado: 'no-leido'},
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{espectaculo}} rechazó tu propuesta', accion: 'VER PROPUESTA', estado: 'no-leido'},
        {tipo: 'propuestas', time: 'Hace dos horas', texto: '{{espectaculo}} ha cancelado su función', accion: 'VER PROPUESTA', estado: 'no-leido'},

        {tipo: 'agenda-ok', time: 'Hace dos horas', texto: '{{espectaculo}} ha aceptado tu propuesta', accion: 'VER TU AGENDA', estado: 'no-leido'},

        {tipo: 'agenda', time: 'Hace dos horas', texto: '¡Tu agenda aún no tiene espectáculos!', accion: 'AGREGAR ESPECTACULOS', estado: 'no-leido'}

      ],
      filter_menu: [
        {text: 'Nuevas', class: 'all', id: '0'},
        {text: 'Propuestas', class: 'system', id: '1'},
        {text: 'Confirmaciones', class: 'confirmations', id: '2'},
        {text: 'Sistema', class: 'orders', id: '3'}
      ]
    }
  }
}

</script>

<style scoped>

</style>
