<template>
    <div id="pagos" class="main page">
        <MenuBar></MenuBar>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <h1 class="main-title no-lead">Pagos</h1>
                <FilterMenu :filters="filter_menu"></FilterMenu>
                <div class="row">
                    <div class="col-12">
                        <div class="card-container" id="orders-body" v-for="item in pagos">
                            <Pago :pagos='item'></Pago>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import NavigationBar from "../components/NavigationBar";
  import MenuBar from "../components/MenuBar";
  import SideBar from "../components/SideBar";
  import FilterMenu from "../components/FilterMenu";
  import Pago from "../components/Pago";

  export default {
    name: "Pagos",
    components: {Pago, FilterMenu, SideBar, MenuBar, NavigationBar},
    data() {
      return {
        filter_menu: [
          {text: 'Pagos pendientes', class: 'pendientes active', id: '1'},
          {text: 'Facturas', class: 'aceptadas', id: '2'}
        ],
        pagos: [
          {
            codigo: 'A001',
            funcion: 'Teatro Colón, Mar del Plata, Argentina',
            fecha: '22/12/2017, 14 hs',
            importe: '$700',
            accion: 'pagar'
          },
          {
            codigo: 'A005',
            funcion: 'Teatro La casita, Miramar, Argentina',
            fecha: '3/1/2018, 20 hs',
            importe: '$700',
            accion: 'pagar'
          },
          {
            codigo: 'A018',
            funcion: 'Teatro La casita, Miramar, Argentina',
            fecha: '3/1/2018, 20 hs',
            importe: '$700',
            accion: 'pagar'
          }
          ]
      }
    }
  }
</script>

<style scoped>

</style>