<template>
    <div id="perfil" class="main">
        <MenuBar text="Perfil del espectáculo"></MenuBar>
        <div class="container open-modal perfil" id="content">
            <SideBar></SideBar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title no-lead">Perfil del espectáculo</h1>
                                <!-- SI LA GIRA ESTÁ ACTIVA ESTO NO SE MUESTRA -->
                                <div class="d-flex w-100 align-items-center">
                                    <div class="c100 small p00 mr-4">
                                        <span>0%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <p>
                                        <span class="text-danger lead"><strong>Tu gira no está activa</strong></span><br>
                                        Para poder activarla debes completar tu perfil
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="list-group mt-3">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p v-if="fichaCompleta"><i class="far fa-check-circle text-success mr-1"></i>
                                        Ficha
                                        del
                                        espectáculo</p>
                                    <p v-if="!fichaCompleta"><i class="far fa-times-circle text-danger mr-1"></i>
                                        Ficha
                                        del
                                        espectáculo</p>
                                    <router-link v-on:click.native="fichaCompleta=true" to="/perfil/ficha"
                                                 class="btn-link small">
                                        COMPLETAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-times-circle text-danger mr-1"></i> Cachet</p>
                                    <router-link to="/perfil/cachet" class="btn-link small">COMPLETAR</router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-times-circle text-danger mr-1"></i> Fotos y videos</p>
                                    <router-link to="/perfil/multimedia" class="btn-link small">COMPLETAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-times-circle text-danger mr-1"></i> Agenda</p>
                                    <router-link to="/perfil/agenda" class="btn-link small">COMPLETAR</router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-times-circle text-danger mr-1"></i> Requerimientos técnicos
                                    </p>
                                    <router-link to="/perfil/requerimientos-tecnicos" class="btn-link small">
                                        COMPLETAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-times-circle text-danger mr-1"></i> Requisitos a cubrir</p>
                                    <router-link to="/perfil/requisitos" class="btn-link small">COMPLETAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="spacer-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MenuBar from '@/components/MenuBar'
import SideBar from '@/components/SideBar'

export default {
  name: 'Perfil',
  data () {
    return {
      fichaCompleta: false
    }
  },
  components: {
    MenuBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
