<template>
    <div id="propuestas" class="main page segments">
        <MenuBar></MenuBar>
        <Segments active="propuestas"></Segments>
        <div class="container">
            <SideBar></SideBar>
            <div id="primary">
                <h1 class="main-title">Propuestas</h1>
                <FilterMenu :filters="filter_menu" v-if="$user==='obra'"></FilterMenu>
                <FilterMenu :filters="filter_menu_sala" v-if="$user==='sala'"></FilterMenu>
                <div class="card-container" id="orders-body" >
                    <Propuesta :propuesta='item' v-for="item in propuestas" v-if="$user==='obra'"></Propuesta>
                    <Propuesta :propuesta='item' v-for="item in propuestasSalas" v-if="$user==='sala'"></Propuesta>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import FilterMenu from '@/components/FilterMenu'
import Propuesta from '@/components/Propuesta'
import Segments from '../components/Segments'
import MenuBar from '../components/MenuBar'

export default {
  name: 'Propuestas',
  components: {
    MenuBar,
    Segments,
    SideBar,
    FilterMenu,
    Propuesta
  },
  data () {
    return {
      propuestas: [
        {
          imagen: 'https://picsum.photos/50/50',
          nombre: 'Teatro Colón',
          localidad: 'Mar del Plata, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Nueva'
        },
        {
          imagen: 'https://picsum.photos/50/50',
          nombre: 'Teatro Argentino de La Plata',
          localidad: 'La Plata, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Pendiente'
        },
        {
          imagen: 'https://picsum.photos/50/50',
          nombre: 'Teatro Colón',
          localidad: 'Mar del Plata, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Aceptada'
        },
        {
          imagen: 'https://picsum.photos/50/50',
          nombre: 'Teatro del Libertador General San Martín',
          localidad: 'Córdoba, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Rechazada'
        }
      ],
      propuestasSalas: [
        {
          imagen: 'https://picsum.photos/51/50?random',
          nombre: 'Educando al Nene',
          localidad: 'Mendoza, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Pendiente'
        },
        {
          imagen: 'https://picsum.photos/50/51?random',
          nombre: 'Mientras mientas',
          localidad: 'La Plata, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Modificacion'
        },
        {
          imagen: 'https://picsum.photos/52/51?random',
          nombre: 'Ol Baraba, y otras historias',
          localidad: 'Mar del Plata, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Aceptada'
        },
        {
          imagen: 'https://picsum.photos/50/50',
          nombre: 'Puras Mentiras',
          localidad: 'Córdoba, Argentina',
          cachet: '12000',
          fecha: '5/5/2018',
          estado: 'Rechazada'
        }
      ],
      filter_menu: [
        {text: 'Nuevas', class: 'nuevas', id: '0'},
        {text: 'Pendientes', class: 'pendientes', id: '1'},
        {text: 'Aceptadas', class: 'aceptadas', id: '2'},
        {text: 'Rechazadas', class: 'rechazadas', id: '3'}
      ],
      filter_menu_sala: [
        {text: 'Todas', class: 'todas', id: '0'},
        {text: 'En negociación', class: 'pendientes', id: '1'},
        {text: 'Pendientes', class: 'pendientes', id: '1'},
        {text: 'Aceptadas', class: 'aceptadas', id: '2'},
        {text: 'Rechazadas', class: 'rechazadas', id: '3'}
      ]
    }
  }
}

</script>

<style scoped>

</style>
