<template>
    <div id="registro" class="main">
        <div class="container-fluid">
            <div class="spacer-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5 text-center">
                        <div class="text-center">
                            <img src="../assets/img/logo-trampolin.svg" class="mx-auto" alt="Logo Trampolín" width="120">
                        </div>
                        <div class="spacer-2"></div>
                        <h2 class="main-title text-center mb-1">Creá tu cuenta</h2>
                        <h5 class="text-center">Selecciona el perfil que corresponda</h5>
                        <div class="spacer-2"></div>
                        <p class="lead">Soy responsable de un espectáculo</p>
                        <router-link to="/registro/espectaculo" class="btn btn-info btn-block">
                            Agregar espectáculo
                        </router-link>
                        <div class="spacer-1"></div>
                        <hr>
                        <div class="spacer-1"></div>
                        <p class="lead">Soy responsable de un teatro o festival</p>
                        <router-link to="/registro/teatro" class="btn btn-primary btn-block">
                            Agregar teatro/festival
                        </router-link>
                        <div class="spacer-3"></div>
                        <div class="text-center">
                            <p class="mb-0"> Si ya tenés cuenta </p>
                            <router-link to="/" class="btn-link mx-auto">INGRESA</router-link>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="bg-light"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Registro'
}
</script>

<style scoped>
</style>
