<template>
    <div id="sala-add" class="main">
        <NavigationBar text_xs="Agregar una sala" text_lg="Volver" link="/registro" tipo="volver"></NavigationBar>
        <div class="container open-modal form">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1>Agregar una sala</h1>
                                <p class="lead">Ingresa datos técnicos de tu sala</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form>
                            <div class="form-group">
                                <label>Nombre de la sala</label>
                                <input type="text" id="nombre" name="nombre" class="form-control">
                                <small id="emailHelp" class="form-text text-muted">Si posees solo una sala el nombre será el mismo del teatro</small>

                            </div>
                            <div class="form-group">
                                <label>Capacidad</label>
                                <input type="number" id="capacidad" name="capacidad" class="form-control">
                                <small class="form-text text-muted">Ej: 500 personas</small>
                            </div>
                            <div class="form-group">
                                <label>Tipo de escenario</label>
                                <select class="form-control">
                                    <option value="anfiteatro">Anfiteatro</option>
                                    <option value="a-la-italiana">A la italiana</option>
                                    <option value="a-nivel-piso">A nivel del piso</option>
                                    <option value="otro">Otros</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p class="pb-1"><strong>¿Tiene cámara negra?</strong></p>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="input-camara" class="custom-control-input">
                                    <label class="custom-control-label">Si</label>
                                </div>
                                <div class="custom-control custom-radio mt-2">
                                    <input type="radio" id="input-camara-no" name="input-camara" class="custom-control-input">
                                    <label class="custom-control-label">No</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Imagen de perfil</label>
                                <button class="btn btn-secondary ml-2"><i class="fas fa-cloud-upload-alt"></i> SUBIR
                                </button>
                            </div>
                            <div class="form-group">
                                <label>Galería de imágenes</label>
                                <button class="btn btn-secondary ml-2"><i class="fas fa-cloud-upload-alt"></i> SUBIR
                                    IMÁGENES
                                </button>
                            </div>
                            <div class="form-group">
                                <label>Otros datos relevantes</label>
                                <textarea id="otros" name="otros" type="text"
                                          class="form-control"></textarea>
                            </div>
                            <router-link to="/ok/sala" class="btn btn-primary">GUARDAR</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '../components/SideBar'
import NavigationBar from "../components/NavigationBar";
export default {
  name: 'SalaAdd',
  components: {NavigationBar, SideBar}
}
</script>

<style scoped>

</style>
