<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="Teatro Colón" text_lg="cerrar" link="/propuesta/200002" tipo="cerrar"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row">
                    <div class="col-12">
                        <h1 class="main-title">Teatro Colón</h1>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3143.9750189415654!2d-57.54825603402581!3d-38.001043152557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1steatro+colon+mar+del+plata!5e0!3m2!1ses-419!2sar!4v1536073161109" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'Teatro',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
