<template>
    <div id="propuesta" class="main">
        <NavigationBar text_xs="Teatro Colón" text_lg="volver" link="/propuesta/200002" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                <div class="row">
                    <div class="col-12">
                        <h1 class="main-title">Sala Nicanor Otamendi</h1>
                    </div>
                    <div class="list-group col-12">
                        <div class="list-group-item">
                          <h5>Galería</h5>
                            <!-- HAY QUE CAMBIAR EL "PER PAGE" DE ACUERDO A LA RESOLUCION: XS 1 - LG - 3 -->
                            <carousel :per-page="3" mouse-drag="true" class="mt-3 gallery-slides text-center">
                                <slide>
                                    <img src="https://via.placeholder.com/400x250" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://via.placeholder.com/400x250" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://via.placeholder.com/400x250" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://via.placeholder.com/400x250" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://via.placeholder.com/400x250" class="img-fluid"/>
                                </slide>
                            </carousel>
                        </div>
                        <div class="list-group-item">
                            <h5>Capacidad de la sala</h5>
                            <p>500 personas</p>
                        </div>
                        <div class="list-group-item">
                            <h5>Tipo de escenario</h5>
                            <p>Anfiteatro</p>
                        </div>
                        <div class="list-group-item">
                            <h5>Espacio escénico</h5>
                            <p>5mtrs. x 2,5mts. x 1mtr.</p>
                        </div>
                        <div class="list-group-item">
                            <h5>Tiene cámara negra</h5>
                        </div>
                        <div class="list-group-item">
                            <h5>Otros datos relevantes</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt lorem id ex efficitur, eu eleifend tortor porttitor. Mauris vitae libero porta, finibus metus sit amet, semper neque. Nunc feugiat nibh at molestie sagittis. Fusce aliquet fringilla faucibus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'Teatro',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
