<template>
    <div id="teatro-open" class="main">
        <NavigationBar text_xs="Teatro Colón" text_lg="volver" link="/propuesta/200002" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary">
                    <div class="row">
                        <div class="header w-100">
                            <div class="image portada clickeable" @click="showModal">
                                <div class="image-cover"
                                     style="background-image: url('https://picsum.photos/1001/400')"></div>
                            </div>
                            <div class="image perfil clickeable" @click="showModal">
                                <div class="image-cover" style="background-image: url('https://picsum.photos/80/80')"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <h1 class="main-title">La Pausa espacio teatral</h1>
                            <p>"(La Pausa) Teatral es un espacio escénico del barrio de Almagro, ubicado sobre la Avenida Corrientes. Devenido de una vieja fábrica de sombreros, o viseras de gorros, según el vecino que narre la historia del lugar, hoy se ha transformado en un espacio lúdico donde conviven personas con un motor común: el deseo por el teatro, las ganas de jugar, y narrar historias desde lo escénico.</p>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <h5>Ubicación</h5>
                                        <p>Hipolito Irigoyen 2450, Mar del Plata, Buenos Aires, Argentina <router-link to="/teatro/2/ubicacion"> ver mapa</router-link></p>
                                    </div>

                                    <!-- SI TIENEN UN NODO EN COMUN MOSTRAMOS ESTOS DATOS-->
                                    <div class="list-group-item">
                                        <h5>Teléfono</h5>
                                        <p>+54 223 489-6475</p>
                                    </div>
                                    <div class="list-group-item">
                                        <h5>Email</h5>
                                        <p>lapausa@gmail.com</p>
                                    </div>
                                    <!-- ////////-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <h5>Tipo de circuito</h5>
                                        <p>Oficial</p>
                                    </div>

                                    <!-- SI TIENEN UN NODO EN COMUN MOSTRAMOS ESTOS DATOS-->
                                    <div class="list-group-item">
                                        <h5>Website</h5>
                                        <p>lapausa.com.ar</p>
                                    </div>
                                    <!-- ////////-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-2"></div>
                <div class="row">
                    <div class="list-group col-12">
                        <div class="list-group-item">
                          <h5>Galería</h5>
                            <!-- HAY QUE CAMBIAR EL "PER PAGE" DE ACUERDO A LA RESOLUCION: XS 1 - LG - 3 -->
                            <carousel :per-page="3" mouse-drag="true"
                                      class="mt-3 gallery-slides text-center d-none d-lg-block">
                                <slide>
                                    <div class="imagen clickeable" @click="showModal">
                                        <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="imagen clickeable" @click="showModal">
                                        <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="imagen clickeable" @click="showModal">
                                        <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                    </div>
                                </slide>
                                <slide>
                                    <div class="imagen clickeable" @click="showModal">
                                        <img src="https://picsum.photos/300/200?random" class="img-fluid"/>
                                    </div>
                                </slide>
                            </carousel>

                            <b-modal ref="showImage" id="showImage" hide-footer title="">
                                <img src="https://picsum.photos/1000/600?random" class="img-fluid"/>
                            </b-modal>

                            <carousel :per-page="1" mouse-drag="true"
                                      class="mt-3 gallery-slides text-center d-block d-lg-none">
                                <slide>
                                    <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                                </slide>
                                <slide>
                                    <img src="https://picsum.photos/400/250?random" class="img-fluid"/>
                                </slide>
                            </carousel>
                        </div>

                        <h3>Datos de Sala</h3>
                        <div class="row mt-4">
                            <!-- SI HAY MÁS DE UNA SALA MOSTRAMOS EL NOMBRE Y LOS DATOS DE CADA UNA, SINO SOLO LOS DATOS (SIN TITULO) -->
                            <!--<div class="col-12 mb-2">
                                <h4>Sala Nicanor Otamendi</h4>
                            </div>-->
                            <!-- ////////// -->
                            <div class="col-lg-6">
                                <div class="list-group-item">
                                    <h5>Capacidad de la sala</h5>
                                    <p>500 personas</p>
                                </div>
                                <div class="list-group-item">
                                    <h5>Tipo de escenario</h5>
                                    <p>Anfiteatro</p>
                                </div>
                                <div class="list-group-item">
                                    <h5>Espacio escénico</h5>
                                    <p>5mtrs. x 2,5mts. x 1mtr.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="list-group-item">
                                    <h5>Tiene cámara negra</h5>
                                </div>
                                <div class="list-group-item">
                                    <h5>Otros datos relevantes</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt lorem id ex efficitur, eu eleifend tortor porttitor. Mauris vitae libero porta, finibus metus sit amet, semper neque. Nunc feugiat nibh at molestie sagittis. Fusce aliquet fringilla faucibus. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'

export default {
  name: 'Teatro',
  components: {
    NavigationBar,
    SideBar
  },
  methods: {
    showModal () {
      this.$refs.showImage.show()
    },
    hideModal () {
      this.$refs.showImage.hide()
    }
  }
}
</script>

<style scoped>

</style>
