<template>
    <div id="requisitos">
        <NavigationBar text_xs="Requisitos" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Requisitos</h1>
                                <h4>Requisitos a cubrir</h4>
                                <p class="lead">Indica que necesitás para realizar una función. Puedes modificarlo más
                                    adelante.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form action="">
                            <b-form-group
                                    id=""
                                    description=""
                                    label=""
                                    label-for="input1"
                                    :state="state"
                            >
                                <b-form-checkbox id="translado_local_check"
                                                 v-model="status"
                                                 value="accepted"
                                                 unchecked-value="not_accepted">
                                    Translado local
                                </b-form-checkbox>
                                <b-form-input v-if="status==='accepted'" v-model="text1" class="mt-3"
                                              type="text"
                                              placeholder="Comentarios para el teatro"></b-form-input>
                                <small class="form-text text-muted" v-if="status==='accepted'">Ej: “Lo necesario para
                                    las personas en gira y el vestuario”
                                </small>
                            </b-form-group>
                            <b-form-group
                                    id=""
                                    description=""
                                    label=""
                                    label-for="input1"
                                    :state="state"
                            >
                                <b-form-checkbox id="translado_regional_check"
                                                 v-model="status1"
                                                 value="accepted"
                                                 unchecked-value="not_accepted">
                                    Translado regional
                                </b-form-checkbox>
                                <b-form-input v-if="status1==='accepted'" v-model="text1" class="mt-3"
                                              type="text"
                                              placeholder="Comentarios para el teatro"></b-form-input>
                                <small class="form-text text-muted" v-if="status1==='accepted'">Ej: “Pasajes de avión en
                                    línea económica” o “Gastos de combustible entre Bariloche y El Bolsón”
                                </small>
                            </b-form-group>
                            <b-form-group
                                    id=""
                                    description=""
                                    label=""
                                    label-for="input1"
                                    :state="state"
                            >
                                <b-form-checkbox id="translado_escenografia_check"
                                                 v-model="status2"
                                                 value="accepted"
                                                 unchecked-value="not_accepted">
                                    Translado de escenografía
                                </b-form-checkbox>
                                <b-form-input v-if="status2==='accepted'" v-model="text1" class="mt-3"
                                              type="text"
                                              placeholder="Comentarios para el teatro"></b-form-input>
                                <small class="form-text text-muted" v-if="status2==='accepted'">Ej: “Desde Buenos Aires a Mendoza en un flete”
                                </small>
                            </b-form-group>
                            <b-form-group
                                    id=""
                                    description=""
                                    label=""
                                    label-for="input1"
                                    :state="state"
                            >
                                <b-form-checkbox id="alojamiento_check"
                                                 v-model="status4"
                                                 value="accepted"
                                                 unchecked-value="not_accepted">
                                    Alojamiento
                                </b-form-checkbox>
                                <b-form-input v-if="status4==='accepted'" v-model="text1" class="mt-3"
                                              type="text"
                                              placeholder="Comentarios para el teatro"></b-form-input>
                                <small class="form-text text-muted" v-if="status4==='accepted'">Ej: “Hotel 3 estrellas superior o mejor con habitaciones compartidas” o “Podemos ir a hostel o departamento”
                                </small>
                            </b-form-group>
                            <b-form-group
                                    id=""
                                    description=""
                                    label=""
                                    label-for="input1"
                                    :state="state"
                            >
                                <b-form-checkbox id="comida_check"
                                                 v-model="status5"
                                                 value="accepted"
                                                 unchecked-value="not_accepted">
                                    Comidas
                                </b-form-checkbox>
                                <b-form-input v-if="status5==='accepted'" v-model="text1" class="mt-3"
                                              type="text"
                                              placeholder="Comentarios para el teatro"></b-form-input>
                                <small class="form-text text-muted" v-if="status5==='accepted'">Ej: “Desayuno, almuerzo y cena” o “Menú vegetariano para dos personas del grupo”
                                </small>
                            </b-form-group>
                            <div v-if="add">
                                <hr>
                                <div class="form-group px-3">
                                    <label>Requisito</label>
                                    <b-form-input id="requisito-1"></b-form-input>
                                </div>
                                <div class="form-group px-3">
                                    <label>Aclaraciones para el teatro</label>
                                    <b-form-input id="aclaraciones-1"></b-form-input>
                                </div>
                                <div class="form-group px-3">
                                    <a href="#" class="btn btn-sm btn-secondary" @click="add = false">GUARDAR</a>
                                </div>
                                <hr>
                            </div>
                            <div class="form-group pb-3">
                                <a href="#" @click="add = true"><i class="fas fa-plus"></i> Agregar más requisitos</a>
                            </div>
                            <router-link to="/perfil/ok"
                                         class="btn btn-primary btn-block-xs-only float-lg-left">GUARDAR
                            </router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '../../components/SideBar'
import NavigationBar from '../../components/NavigationBar'

export default {
  name: 'requisitos',
  components: {
    NavigationBar,
    SideBar
  },
  data () {
    return {
      status: false,
      status1: false,
      status2: false,
      status3: false,
      status4: false,
      status5: false,
      add: false
    }
  }
}
</script>

<style scoped>

</style>
