<template>
    <div id="agenda" class="main">
        <NavigationBar text_xs="Agenda" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Agenda</h1>
                                <h4>Añadir fecha programada</h4>
                                <p class="lead">Esta es la función inicial, a partir de aquí se emitirán las alertas de proximidad a otros teatros y festivales.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div>
                            <form action="">
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <date-picker v-model="date" :config="options"></date-picker>
                                </div>
                                <div class="form-group">
                                    <label>Teatro / festival </label>
                                    <div class="input-group">
                                        <input v-model="teatro" id="teatro" name="teatro" class="form-control"
                                               placeholder="Buscar un teatro">
                                        <div class="input-group-prepend pl-4">
                                            <a href="#">
                                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="teatro">
                                    <div class="card search-teatro mb-4">
                                        <div class="list-group px-3">
                                            <!--MOSTRAR DATOS DEL TEATRO SI HAY COINCIDENCIA-->
                                            <!--<div class="list-group-item">
                                                <div class="image float-left pr-4">
                                                    <img src="http://via.placeholder.com/50x50" width="50"
                                                         class="full-rounded" height="50" alt="Teatro Colón">
                                                </div>
                                                <div class="float-left">
                                                    <div class="title pt-1">
                                                        <h5>Nombre del teatro</h5>
                                                        <p class="small">Ubicación del teatro</p>
                                                    </div>
                                                </div>
                                                <div class="float-right">
                                                    <button class="btn btn-link px-0 pt-3">AGREGAR</button>
                                                </div>
                                            </div>-->
                                            <!-- AGREGAR TEATRO SI NO ENCUENTRA NINGUNO -->
                                            <div class="list-group-item">
                                                <h4 class="py-4 text-center"><i class="far fa-frown"></i> No encontramos
                                                    ningún teatro</h4>
                                                <hr>
                                                <h5 class="lead pt-3">Enviale una invitación</h5>
                                                <div class="form-group">
                                                    <label>Nombre del teatro</label>
                                                    <input type="text" id="nombre-teatro" name="nombre-teatro"
                                                           class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email del teatro</label>
                                                    <input type="text" id="nombre-teatro" name="nombre-teatro"
                                                           class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-secondary btn-md"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <router-link to="/perfil" class="btn btn-primary btn-block-xs-only float-lg-left">
                                    GUARDAR
                                </router-link>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker'
import SideBar from '@/components/SideBar'
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css'
import NavigationBar from '../../components/NavigationBar'

export default {
  name: 'agenda',
  components: {
    NavigationBar,
    datePicker,
    SideBar
  },
  data () {
    return {
      teatro: '',
      date: new Date(),
      options: {
        format: 'DD/MM/YYYY',
        locale: 'es',
        minDate: new Date()
      }
    }
  }
}
</script>

<style scoped>

</style>
