<template>
    <div id="requerimientos-tecnicos">
        <NavigationBar text_xs="Multimedia" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal" id="perfil-ficha">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Requerimientos técnicos</h1>
                                <h4>Completa los datos</h4>
                                <p class="lead">La información básica de tu espectáculo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form action="">
                            <div class="form-group">
                                <label>Personas en gira</label>
                                <input type="number" id="personas-gira" name="personas-gira" class="form-control">
                                <small class="form-text text-muted">La cantidad de personas que viajan al momento de
                                    realizar la función
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Horas de montaje</label>
                                <input type="text" id="montaje" name="montaje" class="form-control">
                                <small class="form-text text-muted">La cantidad de horas necesarias para armar el espectáculo.<br><i>Ej: 2 hs</i></small>
                            </div>
                            <div class="form-group">
                                <label>Horas de desmontaje</label>
                                <input type="text" id="montaje" name="montaje" class="form-control">
                                <small class="form-text text-muted">La cantidad de horas necesarias para desarmar el espectáculo.<br><i>Ej: 2 hs</i></small>
                            </div>
                            <div class="form-group">
                                <label>Espacio escénico</label>
                                <input type="text" id="espacio" name="espacio" class="form-control">
                                <small class="form-text text-muted">Medidas mìnimas necesarias de escenario para la
                                    puesta en escena. <br><i>Ej: 4 m de frente, 2 m de profundidad y 2 metros de
                                        altura.</i>
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Sonido</label>
                                <textarea id="sonido" name="sonido" type="text" class="form-control"></textarea>
                                <small class="form-text text-muted">Desglose de necesidades técnicas de sonido: <br><i>Ej:
                                    2 Micrófonos vincha y consola de sonido.</i>
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Escenografía</label>
                                <textarea id="escenografia" name="escenografia" type="text"
                                          class="form-control"></textarea>
                                <small class="form-text text-muted"> Enumera los elementos escenográficos, su peso y
                                    volumen. <br><i>Ej: 1. Sillon dos cuerpos, 10 kilos, 2 m x 1,25 m. 2. Lienzo
                                        enmarcado, 1 k, 1 m x 1 m.</i>
                                </small>
                            </div>

                            <div class="form-group">
                                <label>Iluminación</label>
                                <b-form-file v-model="file"
                                             placeholder="Seleccionar un archivo..."></b-form-file>
                                <small class="form-text text-muted"> Adjunta la planta de iluminación del espectáculo en
                                    PDF o JPG
                                </small>
                            </div>
                            <div class="spacer-1"></div>
                            <router-link to="/perfil"
                                         class="btn btn-primary btn-block-xs-only float-lg-left">GUARDAR
                            </router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '../../components/NavigationBar'

export default {
  name: 'requerimientosTecnicos',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
