<template>
    <div id="ficha" class="main">
        <NavigationBar text_xs="Ficha del espectáculo" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Ficha del espectáculo</h1>
                                <h4>Completa los datos</h4>
                                <p class="lead">La información básica de tu obra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form action="">
                            <div class="form-group">
                                <label>Nombre del espectáculo</label>
                                <input type="text" id="nombre" name="nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Autor</label>
                                <input type="text" id="autor" name="autor" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Director</label>
                                <input type="text" id="director" name="director" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Actores</label>
                                <input type="text" id="actores" name="actores" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Síntesis argumental</label>
                                <textarea id="sintesis" name="sintesis" type="text" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Ciudad de origen</label>
                                <input type="text" id="ciudad" name="ciudad" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Fecha de estreno</label>
                                <input id="datepicker" name="fecha" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Tipo de público</label>
                                <select class="form-control" id="publico" name="publico">
                                    <option>Infantil</option>
                                    <option>General</option>
                                    <option>Adultos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Género</label>
                                <select class="form-control" id="genero" name="genero">
                                    <option>Comedia</option>
                                    <option>Musical</option>
                                    <option>Drama</option>
                                    <option>Infantil</option>
                                    <option>Òpera</option>
                                    <option>Danza</option>
                                    <option>Stand-Up</option>
                                    <option>Clown</option>
                                    <option>De objetos</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <router-link to="/perfil"
                                         class="btn btn-primary btn-block-xs-only float-lg-left">GUARDAR
                            </router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import SideBar from '@/components/SideBar'
import NavigationBar from '../../components/NavigationBar'

export default {
  name: 'ficha',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
