<template>
    <div id="perfil" class="main">
        <MenuBar></MenuBar>
        <div class="container page perfil" id="content">
            <SideBar></SideBar>
            <div id="primary">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title no-lead">Perfil de la obra</h1>
                                <div class="d-flex w-100 align-items-center">
                                    <div class="c100 small p98 mr-4">
                                        <span>100%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <p>
                                        <span class="text-primary lead"><strong>Ya puedes activar tu gira</strong></span><br>
                                        Hasta que no lo hagas, los teatros no podrán ver tu obra
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="list-group mt-3">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Ficha
                                        del
                                        espectáculo</p>
                                    <router-link to="/perfil/ficha" class="btn-link small">
                                        EDITAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Cachet</p>
                                    <router-link to="/perfil/cachet" class="btn-link small">EDITAR</router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Fotos y videos</p>
                                    <router-link to="/perfil/multimedia" class="btn-link small">EDITAR</router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Agenda</p>
                                    <router-link to="/perfil/agenda" class="btn-link small">EDITAR</router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Requerimientos técnicos</p>
                                    <router-link to="/perfil/requerimientos-tecnicos" class="btn-link small">EDITAR
                                    </router-link>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <p><i class="far fa-check-circle text-success mr-1"></i> Requisitos a cubrir</p>
                                    <router-link to="/perfil/requisitos" class="btn-link small">EDITAR</router-link>
                                </div>
                            </div>
                            <div class="spacer-2"></div>
                        </div>
                        <router-link to="/ok/activar-gira" class="btn btn-primary">ACTIVAR LA GIRA</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MenuBar from '@/components/MenuBar'
import SideBar from '@/components/SideBar'

export default {
  name: 'PerfilCompleto',
  components: {
    MenuBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
