<template>
    <div id="multimedia">
        <NavigationBar text_xs="Fotos y videos" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Fotos y videos</h1>
                                <h4>Completa los datos</h4>
                                <p class="lead">La información básica de tu obra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <form action="">
                            <div class="form-group">
                                <label>Imagen de perfil</label>
                                <button class="btn btn-secondary ml-2"><i class="fas fa-cloud-upload-alt"></i> SUBIR
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Galería de imágenes</label>
                                <button class="btn btn-secondary ml-2"><i class="fas fa-cloud-upload-alt"></i> SUBIR
                                    IMÁGENES
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Trailer</label>
                                <input type="text" id="trailer" name="trailer" class="form-control">
                                <small class="form-text text-muted">Link a video de Vimeo o Youtube</small>
                            </div>
                            <hr>
                            <router-link to="/perfil"
                                         class="btn btn-primary btn-block-xs-only float-lg-left">GUARDAR
                            </router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '@/components/NavigationBar'
export default {
  name: 'multimedia',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
