<template>
    <div id="cachet" class="main">
        <NavigationBar text_xs="Cachet" text_lg="volver" link="/perfil" tipo="volver"></NavigationBar>
        <div class="container open-modal">
            <SideBar></SideBar>
            <div id="primary" class="form">
                <div class="break-container form-header">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-title">
                                <h1 class="main-title">Cachet</h1>
                                <h4>Completa los datos</h4>
                                <p class="lead">La información básica de tu obra</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-8">
                        <div id="agenda">
                            <form action="">
                                <div id="cachet">
                                    <div class="form-group">
                                        <label>Cachet nacional</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend pr-4">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input type="number" id="cachet-nacional" name="cachet-nacional"
                                                   class="form-control">
                                            <small class="form-text text-muted w-100">Funciones en país de origen del espectáculo y en moneda local</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cachet internacional</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend pr-2">
                                                <div class="input-group-text">U$D</div>
                                            </div>
                                            <input type="number" id="cachet-internacional" name="cachet-internacional"
                                                   class="form-control">
                                            <small class="form-text text-muted w-100">Funciones en país distinto al de origen y en dólares americanos (U$D)</small>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="borderau" >
                                            <label class="custom-control-label" for="borderau">Puedo ir a bordereaux</label>
                                            <small id="" class="form-text text-muted">
                                                Esto significa que consideras como opción ir a un porcentaje de la venta de entradas
                                            </small>
                                        </div>
                                    </div>
                                    <router-link to="/perfil" class="btn btn-primary btn-block-xs-only float-lg-left">
                                        GUARDAR
                                    </router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SideBar from '@/components/SideBar'
import NavigationBar from '../../components/NavigationBar'

export default {
  name: 'cachet',
  components: {
    NavigationBar,
    SideBar
  }
}
</script>

<style scoped>

</style>
