<template>
    <router-link to="/espectaculo/200002" tag="div" class="espectaculo" data-day="25/09/2018">
        <div class="card mb-4 clickeable">
            <div class="image">
                <div class="image-cover" :style="{backgroundImage: 'url('+espectaculo.imagen+')'}"></div>
            </div>
            <div class="card-body">
                <div class="header">
                    <div class="date">
                        <span class="lead">{{espectaculo.dia}}</span><br>
                        <span class="small">{{espectaculo.mes}}</span>
                    </div>
                    <div class="title">
                        <h4>{{espectaculo.nombre}}</h4>
                        <h5>De: {{espectaculo.autor}}</h5>
                    </div>
                </div>
                <div class="footer">
                    <p class="small mb-0">Dir.: {{espectaculo.direccion}} <i class="far fa-clock ml-2"></i> {{espectaculo.duracion}} hs  <i class="fas fa-bullseye ml-2"></i> {{espectaculo.distancia}} kms</p>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
  name: 'Espectaculo',
  props: {
    espectaculo: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
