<template>
    <div class="filter-menu">
        <div class="row tabs-menu d-none d-lg-block" id="alerts-menu">
            <ul class="nav nav-tabs" id="alerts-tabs" role="tablist">
                <li class="nav-item" v-for="filter in filters">
                    <a class="nav-link all-option" href="#">{{filter.text}} (2)</a>
                </li>
            </ul>
        </div>

        <!-- VISIBLE XS -->
        <div class="select-tabs d-block d-lg-none py-2">
            <select class="form-control filter">
                <option id="all-option" v-for="filter in filters">
                    {{filter.text}}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
export default {
  name: 'FilterMenu',
  props: {
    filters: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
