<template>
    <router-link to="/funcion/200002" tag="div" class="card funcion w-100">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-12 align-self-center">
                    <div class="tr">
                        <div class="td calendar">
                            <div class="date">
                                <span class="lead">{{nodo.dia}}</span><br>
                                <span class="small">{{nodo.mes}}</span>
                            </div>
                        </div>
                        <div class="td obra">
                            <h4>{{nodo.teatro}}</h4>
                            <p class="small">{{nodo.ubicacion}}</p>
                        </div>
                        <div class="td accion">
                            <a href="#" class="btn btn-link btn-sm">{{nodo.accion}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
  name: 'Funcion',
  props: {
    nodo: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
