<template>
    <div id="menu-sala">
        <ul class="nav flex-column pt-3 pl-0 ml-0">
            <li class="nav-item">
                <router-link to="/cerca" class="nav-link">
                    <i class="fas fa-bullseye"></i> Espectáculos cerca
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/notificaciones" class="nav-link">
                    <i class="far fa-bell"></i><span class="counter">11</span> Notificaciones
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/propuestas" class="nav-link">
                    <i class="fas fa-inbox"></i> Propuestas
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/agenda" class="nav-link">
                    <i class="far fa-calendar-alt"></i> Agenda
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/perfil/teatro/editar" class="nav-link">
                    <i class="fas fa-eye"></i> Perfil
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/ajustes" class="nav-link">
                    <i class="fas fa-cog"></i> Ajustes
                </router-link>
            </li>
            <li class="nav-item pr-5">
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://trampolin.com.ar/ayuda"><i class="fas fa-info-circle"></i> Ayuda</a>
            </li>
        </ul>
    </div>
</template>

<script>
  export default {
    name: "MenuSala"
  }
</script>

<style scoped>

</style>