<template>
    <div id="menu-obra">
        <div class="image full-rounded mb-2">
            <img src="https://picsum.photos/60/60?random" class="rounded" alt="">
        </div>
        <h5 class="mb-2">
            <router-link to="/perfil/editar">Nombre del espectáculo {{type}}</router-link>
        </h5>
        <!-- si emite alertas -->
        <span class="small text-primary"><i class="fas fa-check-circle"></i> Gira activa</span>
        <!-- si la gira está cerrada -->
        <!--<span class="small text-danger"><i class="fas fa-times"></i> Gira cerrada</span>-->
        <ul class="nav flex-column pt-3 pl-0 ml-0">
            <li class="nav-item pr-5">
                <div class="spacer-1"></div>
            </li>
            <li class="nav-item">
                <router-link to="/notificaciones" class="nav-link" @click="add = true">
                    <i class="far fa-bell"></i><span class="counter">11</span> Notificaciones
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/propuestas" class="nav-link">
                    <i class="fas fa-inbox"></i><span class="counter">4</span> Propuestas
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/gira" class="nav-link">
                    <i class="fas fa-map-marker-alt"></i> Gira
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/perfil/ok" class="nav-link">
                    <i class="fas fa-eye"></i> Perfil
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/pagos" class="nav-link">
                    <i class="fas fa-credit-card"></i> Pagos
                </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/ajustes" class="nav-link">
                    <i class="fas fa-cog"></i> Ajustes
                </router-link>
            </li>
            <li class="nav-item pr-5">
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://trampolin.com.ar/ayuda"><i
                        class="fas fa-info-circle"></i> Ayuda</a>
            </li>
        </ul>
    </div>
</template>

<script>
  export default {
    name: "MenuObra"
  }
</script>

<style scoped>

</style>