<template>
    <div id="menu-bar">
        <nav class="navbar xs d-block fixed-top d-lg-none pb-0 ">
            <div class="bars-menu float-left">
                <a @click="show = !show">
                    <i class="fas fa-bars text-primary"></i>
                </a>
            </div>
            <div class="brand-title float-left">
                <a href="#" class="navbrar-brand" v-if="!text">
                    <img src="../assets/img/logo-trampolin.svg">
                </a>
                <div class="title" v-if="text">
                    {{text}}
                </div>
            </div>
            <div class="notificaciones float-left">
                <router-link to="/notificaciones" class="pr-2" @click="add = true">
                    <i class="far fa-bell"></i><span class="counter">11</span>
                </router-link>
            </div>
        </nav>
        <off-canvas v-model="show" :width="300" :duration=".5" effect="ease-in-out" @sidebarWasClosed="show = $event"
                    id="off-canvas" class="d-block d-lg-none">
            <div class="off-canvas-menu">
                <MenuObra v-if="$user==='obra'"></MenuObra>
                <MenuSala v-else></MenuSala>
            </div>
        </off-canvas>
    </div>
</template>

<script>
import offCanvas from 'vue-offcanvas-simple/src/SidebarOffCanvas.vue'
import MenuSala from './MenuSala'
import MenuObra from './MenuObra'

export default {
  name: 'MenuBar',
  data () {
    return {
      show: false,
      text: false
    }
  },
  watch: {
    // whenever active changes, this function will run
    show: function () {
      document.body.style.overflow = this.active ? 'hidden' : ''
    }
  },
  components: {
    MenuObra,
    MenuSala,
    offCanvas
  }
}
</script>

<style scoped>

</style>
