<template>
    <div class="navigation-bar">
        <div class="container">
            <div class="d-block d-lg-none">
                <div class="volver" v-if="tipo=='volver'">
                    <router-link :to="link" class="icon">
                        <i class="fas fa-arrow-left pr-1"></i>
                    </router-link>
                    <div class="title">
                        {{text_xs}}
                    </div>
                </div>
                <div class="cerrar" v-if="tipo=='cerrar'">
                    <router-link :to="link" class="icon">
                        <i class="fas fa-times pr-1 text-primary"></i>
                    </router-link>
                    <div class="title">
                        {{text_xs}}
                    </div>
                </div>
                <div class="continuar" v-if="tipo=='continuar'">
                    <div class="title">
                        {{text_xs}}
                    </div>
                    <router-link :to="link" class="icon">
                        <i class="fas fa-arrow-left pl-1"></i>
                    </router-link>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <a @click="$router.go(-1)" class="nav-button volver clickeable" v-if="tipo=='volver'">
                    <i class="fas fa-arrow-left pr-1"></i> {{text_lg}}
                </a>
                <router-link :to="link" class="nav-button continuar" v-if="tipo=='continuar'">
                     {{text_lg}} <i class="fas fa-arrow-right pl-1"></i>
                </router-link>
                <router-link :to="link" class="nav-button continuar" v-if="tipo=='cerrar'">
                    <i class="fas fa-times pl-1"></i> {{text_lg}}
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  name: 'NavigationBar',
  props: [
    'link',
    'text_xs',
    'text_lg',
    'tipo'
  ]
}
</script>

<style scoped>
</style>
