<template>
  <!-- si está leido agregamos la clase "disabled" -->
    <router-link :to="{ path: alerta.link }" tag="div" class="card alerts w-100 clickeable">
    <div class="card-body" :class="alerta.tipo">
      <div class="row align-items-center">
        <div class="col-12 col-lg-9">
          <transition name="bounce">
            <p>
                <i class="fas fa-calendar pr-2" v-if="alerta.tipo === 'agenda'"></i>
                <i class="fas fa-check pr-2" v-if="alerta.tipo === 'agenda-ok'"></i>
                <i class="fas fa-times pr-2" v-if="alerta.tipo === 'agenda-error'"></i>
                <i class="fas fa-bullseye pr-2" v-if="alerta.tipo === 'propuestas'"></i>
                <i class="fas fa-money-bill-alt pr-2" v-if="alerta.tipo === 'pagos'"></i>
                <i class="fas fa-cog pr-2" v-if="alerta.tipo === 'system'"></i>
              <small>{{alerta.time}}</small>
            </p>
          </transition>
          <h5 class="py-1">{{alerta.texto}}</h5>
        </div>
        <div class="col-3 d-none d-lg-block text-right">
            <router-link :to="{ path: alerta.link }" class="btn btn-link btn-sm">{{alerta.accion}}</router-link>
        </div>
      </div>
    </div>
    </router-link>
</template>

<script>
export default {
  name: 'Notificacion',
  props: {
    alerta: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
