<template>
    <div class="card">
        <div class="card-body relative pago">
            <div class="tr datos">
                <div class="row">
                    <div class="col-12 col-md-2">
                        #{{pagos.codigo}}
                    </div>
                    <div class="col-12 col-md-5">
                        <router-link to="/teatro/200002">{{pagos.funcion}}</router-link>
                    </div>
                    <div class="col-12 col-md-3">
                        <router-link to="/funcion/200002">{{pagos.fecha}}</router-link>
                    </div>
                    <div class="col-12 col-md-2">
                        <strong class="text-primary">{{pagos.importe}}</strong>
                    </div>
                </div>
            </div>
            <div class="tr accion vertical-align">
                <router-link to="/pago/200002" class="btn-link text-uppercase">{{pagos.accion}}</router-link>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Pago",
    props: {
      pagos: {
        type: Object
      }
    }
  }
</script>

<style scoped>

</style>