<template>
    <router-link to="/propuesta/200002" tag="div" class="card order w-100 clickeable">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-12 align-self-center">
                    <div class="tr obra">
                        <div class="image">
                            <img :src="propuesta.imagen" width="50" height="50" alt="Teatro Colón">
                        </div>
                        <div class="title">
                            <h4>{{propuesta.nombre}}</h4>
                            <p class="small">{{propuesta.localidad}}</p>
                        </div>
                    </div>
                    <div class="tr form align-self-center">
                        <div class="td cachet">
                            <span class="small mb-3">Cachet</span>
                            <div class="value small">${{propuesta.cachet}}</div>
                        </div>
                        <div class="td fecha">
                            <span class="small mb-3">Fecha</span>
                            <div class="value small">{{propuesta.fecha}}</div>
                        </div>
                        <div class="td estado">
                            <span class="small">Estado</span>
                            <div class="value small text-warning" v-if="propuesta.estado=='Pendiente'">
                                {{propuesta.estado}}
                            </div>
                            <div class="value small text-info" v-if="propuesta.estado=='Nueva'">
                                {{propuesta.estado}}
                            </div>
                            <div class="value small text-info" v-if="propuesta.estado=='Modificacion'">
                                En negociación
                            </div>
                            <div class="value small text-danger" v-if="propuesta.estado=='Rechazada'">
                                {{propuesta.estado}}
                            </div>
                            <div class="value small text-success" v-if="propuesta.estado=='Aceptada'">
                                {{propuesta.estado}}
                            </div>
                        </div>
                        <div class="td accion align-self-center">
                            <router-link to="/propuesta/200002" v-if="propuesta.estado=='Rechazada' & $user==='obra'"
                                         class="btn btn-link btn-sm">VER PROPUESTA
                            </router-link>
                            <router-link to="/funcion/200002" v-if="propuesta.estado=='Aceptada'"
                                         class="btn btn-link btn-sm">VER FUNCION
                            </router-link>
                            <router-link to="/propuesta/200002/modificacion"
                                         v-if="propuesta.estado=='Modificacion' & $user==='sala'"
                                         class="btn btn-link btn-sm">VER CAMBIOS
                            </router-link>
                            <router-link to="/propuesta/200002/editar"
                                         v-if="propuesta.estado=='Rechazada' & $user==='sala'"
                                         class="btn btn-link btn-sm">EDITAR
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </router-link>
</template>
<script>
export default {
  name: 'Propuesta',
  props: {
    propuesta: {
      type: Object
    }
  }
}
</script>

<style scoped>

</style>
