<template>
    <div id="segments" v-bind:class="{ scroll: scrolled }">
        <!--<nav class="navbar xs d-block fixed-top d-lg-none bg-white pb-0">
            <div class="row">
                <div class="col">
                    <div class="bars-menu">
                        <a href="#">
                            <i class="fas fa-bars text-primary"></i>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <router-link to="/home" class="navbar-brand">
                        <img src="../assets/img/logo-trampolin.svg" alt="Logo - Trampolín">
                    </router-link>
                </div>
                <div class="col">

                </div>
            </div>
        </nav> -->
            <!-- Nav tabs -->
            <div class="segments-cont d-block d-lg-none">
                <ul class="nav nav-tabs segments obra" role="tablist" v-if="$user==='obra'">
                    <li class="nav-item">
                        <router-link class="nav-link" v-bind:class="{ active: active=='propuestas' }" to="/propuestas"><i
                                class="fas fa-inbox d-inline mr-1"></i> Propuestas</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-bind:class="{ active: active=='gira' }" to="/gira">
                            <i class="fas fa-map-marker-alt mr-1"></i> Gira</router-link>
                    </li>
                </ul>
                <ul class="nav nav-tabs segments sala" role="tablist" v-if="$user==='sala'">
                    <li class="nav-item">
                        <router-link class="nav-link" v-bind:class="{ active: active=='cerca' }" to="/cerca"><i
                                class="fas fa-bullseye d-inline mr-1"></i> Cerca</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" v-bind:class="{ active: active=='propuestas' }" to="/propuestas">
                            <i class="fas fa-inbox mr-1"></i> Propuestas</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link last" v-bind:class="{ active: active=='agenda' }" to="/agenda">
                            <i class="fas fa-calendar mr-1"></i> Agenda</router-link>
                    </li>
                </ul>
            </div>

    </div>
</template>

<script>
import VueScrollClass from 'vue-scroll-class'

export default {
  name: 'Segments',
  props: [
    'active'
  ],
  data () {
    return {
      scrolled: false
    }
  },
  methods: {
    handleScroll () {
      this.scrolled = window.scrollY > 20
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style scoped>

</style>
