<template>
    <div class="header-obra d-none d-lg-block" id="sidebar">
        <div class="overlay"></div>
        <router-link to="/home">
            <img src="../assets/img/logo-trampolin.svg" width="100" class="py-4" alt="Logo Trampolín">
        </router-link>
        <div class="no-obra-hidden" v-if="$user==='obra'">
            <MenuObra></MenuObra>
        </div>
        <div class="no-obra-hidden" v-if="$user==='sala'">
            <MenuSala></MenuSala>
        </div>
        <button @click="cambiarObra">Espectaculo</button>
        <br>
        <button @click="cambiarTeatro">Teatro</button>
        <br>
        <button @click="cambiarFestival">Festival</button>

    </div>
</template>

<script>
  import offCanvas from 'vue-offcanvas-simple/src/SidebarOffCanvas.vue'
  import MenuObra from "./MenuObra";
  import MenuSala from "./MenuSala";

  export default {

  name: 'SideBar',
  components: {MenuSala, MenuObra, offCanvas},
  data: function () {
    return {
      isActive: false,
      show: true
    }
  },
  methods: {
    myFilter: function () {
      this.isActive = !this.isActive
      // some code to filter users
    },
    cambiarObra: function () {
      this.$user = 'obra'
      this.$tipo = ''
    },
    cambiarTeatro: function () {
      this.$user = 'sala'
      this.$tipo = 'teatro'
    },
    cambiarFestival: function () {
      this.$tipo = 'festival'
      this.$user = 'sala'
    }
  }
}
</script>

<style scoped>

</style>
