<template>
    <div id="app">
        <router-view></router-view>
        <Footer></Footer>
    </div>
</template>
<script>
  import Sidebar from '@/components/Sidebar'
  import MenuBar from '@/components/MenuBar'
  import Footer from '@/components/Footer'
  import NavigationBar from '@/components/NavigationBar'
  import VueScrollClass from 'vue-scroll-class'

  export default {
    name: 'App',
    components: {
      Footer,
      NavigationBar,
      MenuBar,
      Sidebar,
      VueScrollClass
    }
  }
</script>

<style>
    @import 'assets/css/main.css';
    @import 'https://use.fontawesome.com/releases/v5.3.1/css/all.css';
    @import "https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i";
</style>
